.featured-blogs-container{
    color: #FAF9F6;
    padding: 10px;
    overflow-x: hidden;
}

.featured-blogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.featured-blogs .featured-blog{
    padding: 5px;
    margin: 4px;
    border-radius: 10px;
}
.featured-blogs .featured-blog:hover{
    cursor: pointer;
    transform: translateY(-4px);
    transition: 0.4s ease-in;
}
.featured-blogs .featured-blog .featured-blog-image img{
    border-radius: 5px;
    height: 50vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}

.featured-blogs .featured-blog .featured-blog-image img:hover{
    cursor: pointer;
}

.featured-blogs .featured-blog .blog-title{
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
   text-overflow: ellipsis;
   width: 100%;
}

.featured-blogs .featured-blog .blog-description{
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
   text-overflow: ellipsis;
   width: 100%;
}

#glitter-class{
    width: 100%;
    background-color: #282828;
    overflow-x: auto;
    padding: 10px;
}
#glitter-class .glitter{
    display: flex;
    width: 100%;
    gap: 10px;
}
#glitter-class .glitter-box .glitter-main{
    background-color: #C0C0C0;
    width:400px;
    height: 400px;
    animation: glitter 2s infinite;
    border-radius: 10px;
}


@keyframes glitter {
    0%{
        opacity: 0.2;
    }
    25%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
    
}

@media (max-width:765px) and (min-width:100px) {
.featured-blogs-container{
    padding: 5px;
    overflow-x: hidden;
}

.featured-blogs{
    grid-template-columns: 1fr;
}

.featured-blogs .featured-blog{
    padding: 4px;
}


.featured-blogs .featured-blog .blog-title{
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
   -webkit-box-orient: vertical;
   text-overflow: ellipsis;
   width: 100%;
}

.featured-blogs .featured-blog .blog-description{
   -webkit-line-clamp: 3; 
}  
#glitter-class{
    width: 100%;
    background-color: #282828;
    overflow-x: auto;
    padding: 10px;
}
#glitter-class .glitter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
}
#glitter-class .glitter-box .glitter-main{
    background-color: #C0C0C0;
    width:100%;
    height: 200px;
    animation: glitter 2s infinite;
    border-radius: 10px;
}  
}