.title h2{
    color: #BF40BF;
    margin: 20px 0;
    text-shadow: 1px 1px 3px;
}
.title hr{
    border-color: #BF40BF;
    opacity: 0.4;
    display: none;
}


@media (max-width:765px) and (min-width:100px) {
.title h2{
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: larger;
}

}