.services{
    display: flex;
    gap: 24px;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    overflow: hidden;
}
.services .services-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 50px 0;
}
.services .services-header .services-header-img img{
    width: 75px;
    animation: rotate 6s infinite;
    height: 75px;
    box-shadow:0 4px 8px 1px rgba(123,47,190,0.6);
    border-radius: 100px;
    padding: 6px;
    border: 1px solid rgba(16,13,26,0.5);
    animation: rotate 10s infinite;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    animation: rotate 6s infinite;
}
.services .services-mid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
}
.services .services-mid .service-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: rgba(123,47,190,0.6); 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(123,47,190,0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #100D1A;
}
.services .services-mid .service-1:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.3s ease;
}
.services .services-mid .service-1 .service-1-top img{
    width: 75px;
    height: 75px;
}
.services .services-mid .service-1 .service-1-bottom{
    text-align: center;
}
.services .services-mid .service-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: rgba(123,47,190,0.6); 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(123,47,190,0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #100D1A;
}
.services .services-mid .service-2:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.3s ease;
}
.services .services-mid .service-2 .service-2-top img{
    width: 75px;
    height: 75px;
}
.services .services-mid .service-2 .service-2-bottom{
    text-align: center;
}
.services .services-mid .service-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: rgba(123,47,190,0.6); 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(123,47,190,0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #100D1A;
}
.services .services-mid .service-3:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.3s ease;
}
.services .services-mid .service-3 .service-3-top img{
    width: 75px;
    height: 75px;
}
.services .services-mid .service-3 .service-3-bottom{
    text-align: center;
}

.services .services-mid .service-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: rgba(123,47,190,0.6); 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(123,47,190,0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #100D1A;
}
.services .services-mid .service-4:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.3s ease;
}
.services .services-mid .service-4 .service-4-top img{
    width: 75px;
    height: 75px;
}
.services .services-mid .service-4 .service-4-bottom{
    text-align: center;
}

.services .services-bottom{
    align-self: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.services .services-bottom .services-bottom-mid button{
    padding: 10px 60px;
    outline: 0;
    border: 0;
    background: #FFD900;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 600;
}
.services .services-bottom .services-bottom-mid button:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.3s ease;
}

@keyframes rotate {
    0%{
        transform: rotate(-360deg);
    }
    50%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*--------------------------------*/
@media (max-width:500px) and (min-width:50px) {
.services{
    gap: 12px;
    padding: 25px;
}
.services .services-header{
    display: flex;
    gap: 12px;
    padding: 25px 0;
}
.services .services-header .services-header-top h2{
    font-size: 20px;
    line-height: 1.2em;
}
.services .services-header .services-header-img img{
    width: 50px;
    height: 50px;
}
.services .services-header .services-header-mid h4{
    line-height: 1.2em;
}
.services .services-header .services-header-bottom{
    display: none;
}
.services .services-mid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

.services .services-mid .service-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-mid h3{
    font-size: 20px;
}

.services .services-mid .service-1 .service-1-top img{
    width: 50px;
    height: 50px;
}
.services .services-mid .service-1 .service-1-bottom{
    text-align: center;
}
.services .services-mid .service-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-mid .service-2 .service-2-top img{
    width: 50px;
    height: 50px;
}
.services .services-mid .service-2 .service-2-bottom{
    text-align: center;
}
.services .services-mid .service-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-mid .service-3 .service-3-top img{
    width: 50px;
    height: 50px;
}
.services .services-mid .service-3 .service-3-bottom{
    text-align: center;
}

.services .services-mid .service-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-mid .service-4 .service-4-top img{
    width: 50px;
    height: 50px;
}
.services .services-mid .service-4 .service-4-bottom{
    text-align: center;
}

.services .services-bottom{
    align-self: center;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-bottom .services-bottom-top h2{
    font-size: 16px;
}
.services .services-bottom .services-bottom-mid button{
    padding: 10px 30px;
    outline: 0;
    border: 0;
}   
}



@media (max-width:900px) and (min-width:501px) {
.services{
    gap: 12px;
    padding: 25px;
}
.services .services-header{
    display: flex;
    gap: 12px;
    padding: 25px 0;
}
.services .services-header .services-header-top h2{
    font-size: 20px;
    line-height: 1.2em;
}
.services .services-header .services-header-img img{
    width: 50px;
    height: 50px;
}
.services .services-header .services-header-mid h4{
    line-height: 1.2em;
}
.services .services-header .services-header-bottom{
    display: none;
}
.services .services-mid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.services .services-mid .service-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-mid h3{
    font-size: 20px;
}

.services .services-mid .service-1 .service-1-top img{
    width: 50px;
    height: 50px;
}
.services .services-mid .service-1 .service-1-bottom{
    text-align: center;
}
.services .services-mid .service-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-mid .service-2 .service-2-top img{
    width: 50px;
    height: 50px;
}
.services .services-mid .service-2 .service-2-bottom{
    text-align: center;
}
.services .services-mid .service-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-mid .service-3 .service-3-top img{
    width: 50px;
    height: 50px;
}
.services .services-mid .service-3 .service-3-bottom{
    text-align: center;
}

.services .services-mid .service-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-mid .service-4 .service-4-top img{
    width: 50px;
    height: 50px;
}
.services .services-mid .service-4 .service-4-bottom{
    text-align: center;
}

.services .services-bottom{
    align-self: center;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-bottom .services-bottom-top h2{
    font-size: 16px;
}
.services .services-bottom .services-bottom-mid button{
    padding: 10px 30px;
    outline: 0;
    border: 0;
}   
}


@media (max-width:1100px) and (min-width:901px) {
.services{
    gap: 12px;
    padding: 25px;
}
.services .services-header{
    display: flex;
    gap: 12px;
    padding: 25px 0;
}
.services .services-header .services-header-top h2{
    font-size: 20px;
    line-height: 1.2em;
}
.services .services-header .services-header-img img{
    width: 50px;
    height: 50px;
    
}
.services .services-header .services-header-mid h4{
    line-height: 1.2em;
}
.services .services-header .services-header-bottom{
    display: none;
}
.services .services-mid{
    display: grid;
    overflow-x: auto;
    gap: 12px;
}

.services .services-mid .service-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-mid h3{
    font-size: 20px;
}

.services .services-mid .service-1 .service-1-top img{
    width: 50px;
    height: 50px;
}
.services .services-mid .service-1 .service-1-bottom{
    text-align: center;
}
.services .services-mid .service-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-mid .service-2 .service-2-top img{
    width: 50px;
    height: 50px;
}
.services .services-mid .service-2 .service-2-bottom{
    text-align: center;
}
.services .services-mid .service-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-mid .service-3 .service-3-top img{
    width: 50px;
    height: 50px;
}
.services .services-mid .service-3 .service-3-bottom{
    text-align: center;
}

.services .services-mid .service-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-mid .service-4 .service-4-top img{
    width: 50px;
    height: 50px;
}
.services .services-mid .service-4 .service-4-bottom{
    text-align: center;
}

.services .services-bottom{
    align-self: center;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.services .services-bottom .services-bottom-top h2{
    font-size: 16px;
}
.services .services-bottom .services-bottom-mid button{
    padding: 10px 30px;
    outline: 0;
    border: 0;
}   
}