.hero-container{
    width: 100%;
}
.hero-container .hero-desk{
    display: flex;
    width: 100%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.hero-container .hero-desk .hero-left{
    width: 30%;
}
.hero-container .hero-desk .hero-left img{
    width: 100%;
    height: 100%;
}

.hero-container .hero-desk .hero-center{
    background-color:#702963;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.hero-container .hero-center .hero-center-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-container .hero-center .hero-center-text h1,h5{
    color: #ffffff;
}
.hero-container .hero-center .hero-center-text button{
    outline: 0;
    border: 0;
    padding: 10px;
    border-top-left-radius:5px ;
    border-bottom-right-radius:5px ;
    background-color: #000000;
    color: #ffffff;
    animation: reduce 5s infinite;
    align-self: center;
}
.hero-container .hero-center .hero-center-text button:hover{
    cursor: pointer;
}
.hero-container .hero-desk .hero-right{
    width: 30%;
}
.hero-container .hero-desk .hero-right img{
    width: 100%;
    height: 100%;
    
}



/*
purple
#BF40BF
#702963
#E6E6FA
#DA70D6
#800080
#7F00FF
*/
@keyframes reduce {
    0%{
        width: 100%;
    }
    25%{
        width: 80%;
    }
    50%
    {
        width: 70%;
    }
    75%{
        width: 60%;
    }
    100%
    {
        width: 50%;
    }
    
}

/*---------------------Mobile screens-------------------------*/
@media (max-width:600px) and (min-width:433px) {
.hero-container .hero-desk .hero-left{
    width: 50%;
}

.hero-container .hero-desk .hero-center{
    width: 50%;
}


.hero-container .hero-center .hero-center-text h1{
    font-size: medium;
}
.hero-container .hero-center .hero-center-text button{
    animation:none;
    width: 100%;
}

.hero-container .hero-desk .hero-right{
    display: none;
}
.hero-container .hero-desk .hero-right img{
    width: 100%;
    height: 100%;   
}  
}

@media (max-width:432px) and (min-width:100px) {
.hero-container .hero-desk .hero-left{
    width: 50%;
}

.hero-container .hero-desk .hero-center{
    width: 50%;
}

.hero-container .hero-center .hero-center-text h1{
    font-size: small;
}
.hero-container .hero-center .hero-center-text button{
    animation:none;
    width: 100%;
}

.hero-container .hero-desk .hero-right{
    display: none;
}
.hero-container .hero-desk .hero-right img{
    width: 100%;
    height: 100%;   
}  
}


