.hero-container{
    width: 100%;  
    position: relative;
}
.hero-container .hero-img{
    min-width: 100%;
    display: inline-block;
}
.hero-container .hero-img{
    display: flex;
}
.hero-container .hero-img img{
    min-width: 100%;
    max-height: 90vh;
    animation: opace 0.6s ease;
}

.hero-container .hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    width: 100%;
}
.hero-container .hero-content .hero-content-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.hero-container .hero-content .hero-content-left  .hero-content-left-top{
    display: flex;
    flex-direction: row;
}
.hero-container .hero-content .hero-content-left  .hero-content-left-top .hero-content-left-top-img img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    box-shadow: 0 8px 16px rgba(16,13,26,0.5);
    border: 1px solid #100D1A;
}
.hero-container .hero-content .hero-content-left  .hero-content-left-top .hero-content-left-top-img img:hover{
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.6s ease;
}
.hero-container .hero-content .hero-content-left  .hero-content-left-top .hero-content-left-top-img .img-2{
    position: relative;
    right: 10px;
}

.hero-container .hero-content .hero-content-left  .hero-content-left-top .hero-content-left-top-img .img-3{
    position: relative;
    right: 20px;
}
.hero-container .hero-content .hero-content-left  .hero-content-left-top .hero-content-left-top-img .img-4{
    position: relative;
    right: 30px;
}
.hero-container .hero-content .hero-content-left  .hero-content-left-bottom{
    width:100%;
    text-align: center;
}

.hero-container .hero-content .hero-content-left .hero-content-left-bottom h2{
    letter-spacing: 2px;
    font-size: clamp(16px, 20px, 24px);
}
.hero-container .hero-content .hero-content-left .hero-content-left-bottom-2 h2{
    color: #ffd900;
    letter-spacing: 2px;
}
.hero-container .hero-content .hero-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
}
.hero-container .hero-content .hero-content-right .hero-content-right-text{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-container .hero-content .hero-content-right .hero-content-right-text h1{
    word-spacing: 5px;
    font-size: clamp(32px, 40px, 64px);
}
.hero-container .hero-content .hero-content-right .hero-content-right-text h2{
    font-size: clamp(16px, 20px, 48px);
}
.hero-container .hero-content .hero-content-right .hero-content-right-text span{
    color: #ffd900;
    font-weight: 600;
    letter-spacing: 2px;
}
.hero-container .hero-content .hero-content-right .hero-content-right-btn{
    width: 100%;
}
.hero-container .hero-content .hero-content-right .hero-content-right-btn button{
    background-color: #ffd900;
    color: #121212;
    font-weight: 600;
    letter-spacing: 5px;
    border-radius: 50px;
    outline: 0;
    border: 0;
    padding: 10px 60px;
    font-size: clamp(16px, 24px, 32px);
    box-shadow: 0 8px 16px rgba(16,13,26,0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid #100D1A;
}

.hero-container .hero-content .hero-content-right .hero-content-right-btn button:hover{
    cursor: pointer;
    transition: 0.5s ease-in;
}
/*-----------------------------------------*/
.hero-mobile{
    display: none;
    width: 100%;
    position: relative;
}
.hero-mobile .mobile-content{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 100%;    
}
.hero-mobile .mobile-content .mobile-content-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.hero-mobile .mobile-content .mobile-content-top .mobile-content-top-text{
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.hero-mobile .mobile-content .mobile-content-top .mobile-content-top-text h2{
    text-shadow: 0 2px 4px #000;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: clamp(32px, 40px, 64px);
}
.hero-mobile .mobile-content .mobile-content-top .mobile-content-top-text h3{
    font-weight: 300;
    letter-spacing: 2px;
    font-size: clamp(14px, 16px, 24px);
}
.hero-mobile .mobile-content .mobile-content-top .mobile-content-top-text h3 span{
    color: #ffd900;
    font-weight: 800;
}
.hero-mobile .mobile-content .mobile-content-top  .mobile-content-top-btn{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.hero-mobile .mobile-content .mobile-content-top  .mobile-content-top-btn button{
   background-color: #ffd900;
   color: #000;
   letter-spacing: 4px;
   justify-self: center;
   padding:10px 30px;
   border-radius: 50px;
   outline: 0;
   border: 0;
   font-weight: 600px;
   box-shadow: 0 8px 16px rgba(16,13,26,0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.hero-mobile .mobile-content .mobile-content-top  .mobile-content-top-btn button:hover{
    cursor: pointer;
    transform: translateX(2px);
    transition: 0.5s ease;
}
.hero-mobile .hero-mid{
 text-align: center;
 display: flex;
 flex-direction: column-reverse;
 gap: 12px;
 
}
 
.hero-mobile .hero-mid .hero-mid-text h2{
    font-weight: 600;
    letter-spacing: 2px;
    font-size: clamp(14px, 16px, 24px);
}
.hero-mid .hero-mid-images{
    text-align: center;
    justify-self: center;
    display: flex;
}
.hero-mid .hero-mid-images img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    box-shadow: 0 8px 16px rgba(16,13,26,0.5);
    border: 1px solid #100D1A;
}
.hero-mid .hero-mid-images img:hover{
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.6s ease;
}

.hero-mid .hero-mid-images .hero-mid-img .img-2{
    position: relative;
    right: 10px;
}
.hero-mid .hero-mid-images .hero-mid-img .img-3{
    position: relative;
    right: 20px;
}
.hero-mid .hero-mid-images .hero-mid-img .img-4{
    position: relative;
    right: 30px;
}
.hero-mobile .mobile-img{
    display: flex;
    width: 100%;
    justify-content: center;   
}
.hero-mobile .mobile-img img{
    min-width: 100%;
    height: 85vh;
    animation: opace 0.6s ease;
    object-fit: cover;
}

.social-proof{
    background: #121212;
    overflow-x: hidden;
    box-shadow: 0 8px 32px #100D1A;
}
.social-proof .social-proof-content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: max-content;
    gap: 24px;
    animation: move 10s infinite;
}

@keyframes opace {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
    
}

@keyframes move {
    0%{
        transform: translateX(100%);
    }
    10%{
        transform: translateX(80%);
    }
    20%{
        transform: translateX(60%);
    }
    30%{
        transform: translateX(40%);
    }
    40%{
        transform: translateX(20%);
    }
    45%{
        transform: translateX(10%);
    }
    50%{
        transform: translateX(0%);
    }
    55%{
        transform: translateX(-10%);
    }
    60%{
        transform: translateX(-20%);
    }
    70%{
        transform: translateX(-40%);
    }
    80%{
        transform: translateX(-60%);
    }
    90%{
        transform: translateX(-80%);
    }
    100%{
       transform: translateX(-100%); 
    }
}

#artist-proof{
    display: flex;
    align-items: center;
    gap: 6px;
}

#artist-proof img{
    width: 25px;
    height: 25px;
    box-shadow: 0 4px 8px #050505;
    border-radius: 100px;
    backdrop-filter: blur(10px);

}

/*--------------------------------------------*/
@media (max-width:1200px) and (min-width:801px) {
.hero-container{
    width: 100%;  
}
.hero-container .hero-img{
    min-width: 100%;
    display: inline-block;
}
.hero-container .hero-img{
    display: flex;
}
.hero-container .hero-img img{
    min-width: 100%;
    max-height: 90vh;
    animation: opace 3s ease;
}

.hero-container .hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    width: 100%;
}
.hero-container .hero-content .hero-content-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.hero-container .hero-content .hero-content-left  .hero-content-left-top{
    display: flex;
}
.hero-container .hero-content .hero-content-left  .hero-content-left-top .hero-content-left-top-img img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    box-shadow: 0 8px 16px rgba(16,13,26,0.5);
}

.hero-container .hero-content .hero-content-left  .hero-content-left-bottom{
    width:100%;
    text-align: center;
}

.hero-container .hero-content .hero-content-left .hero-content-left-bottom h2{
    letter-spacing: 2px;
    font-size: clamp(16px, 18px, 20px);
}
.hero-container .hero-content .hero-content-left .hero-content-left-bottom-2 h2{
    color: #ffd900;
    letter-spacing: 2px;
}
.hero-container .hero-content .hero-content-right {
    gap: 24px;
}
.hero-container .hero-content .hero-content-right .hero-content-right-text{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-container .hero-content .hero-content-right .hero-content-right-text h1{
    word-spacing: 5px;
    font-size: clamp(24px, 32px, 40px);
}
.hero-container .hero-content .hero-content-right .hero-content-right-text h2{
    font-size: clamp(16px, 20px, 24px);
}
.hero-container .hero-content .hero-content-right .hero-content-right-text span{
    letter-spacing: 2px;
}
.hero-container .hero-content .hero-content-right .hero-content-right-btn{
    width: 100%;
    margin-bottom: 24px;
}
.hero-container .hero-content .hero-content-right .hero-content-right-btn button{
    color: #121212;
}
}

@media (max-width:800px) and (min-width:50px) {
.hero-container{
    display: none;
}
.hero-mobile{
    display:flex;  
}
.hero-mobile .mobile-content{
    transform: translate(-50%, -50%);    
}
.hero-mobile .mobile-content .mobile-content-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.hero-mobile .mobile-content .mobile-content-top .mobile-content-top-text{
    gap: 12px;
}
.hero-mobile .mobile-content .mobile-content-top .mobile-content-top-text h2{
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-size: clamp(16px, 20px, 24px);
}
.hero-mobile .mobile-content .mobile-content-top .mobile-content-top-text h3{
    font-size: clamp(12px, 14px, 18px);
}
.hero-mobile .mobile-content .mobile-content-top .mobile-content-top-text h3 span{
    font-weight: 800;
}
.hero-mobile .mobile-content .mobile-content-top  .mobile-content-top-btn{
    width: 100%;
    text-align: center;
}
.hero-mobile .mobile-content .mobile-content-top  .mobile-content-top-btn button{
   color: #121212;
}
.hero-mobile .hero-mid{
 text-align: center;
 display: flex;
 flex-direction: column-reverse;
 gap: 12px;
 
}
  
.hero-mobile .hero-mid .hero-mid-text h2{
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: clamp(12px, 14px, 16px);
}
.hero-mid .hero-mid-images{
    text-align: center;
    justify-self: center;
    display: flex;
}
.hero-mid .hero-mid-images img{
    border-radius: 100px;
}

.social-proof{
    background: #121212;
    overflow-x: hidden;
    box-shadow: 0 8px 32px #100D1A;
}
.social-proof .social-proof-content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: max-content;
    gap: 12px;
    animation: move 10s infinite;
}

.social-proof .social-proof-content p{
   font-size: clamp(12px, 14px, 18px); 
}
}