.featured-producers-container{
    color: #FAF9F6;
    padding: 10px;
}
.featured-producers-container .featured-producers-header{
    color:#BF40BF;
    margin: 15px 0;
     box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 5px;
}
.featured-producers::-webkit-scrollbar{
    height: 0px;
}
.featured-producers::-webkit-scrollbar-track {
    background: lightgray;
}

.featured-producers{
    display: flex;
    overflow-x: auto;
}

.featured-producer{
    padding: 2px;
}

.featured-producers .featured-producer .featured-producer-image{
    width: fit-content;
    border-radius: 50%;
    padding: 5px;
}

.featured-producers .featured-producer .featured-producer-image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: fade 5s ease;
}

.featured-producers .featured-producer .featured-producer-image img:hover{
    cursor: pointer;
    padding: 5px;
    transform: translateY(-2px);
    transition: 0.5s ease-in;
}

.featured-producers .featured-producer .featured-producer-details{
  position: relative;
  left: calc(20%);
   
}

.featured-producers .featured-producer .featured-producer-details:hover{
    cursor: pointer;
}

.featured-producers .featured-producer .featured-producer-details p img{
    width: 14px;
    position: relative;
    top: 4px;
}
.featured-producers-container .producer-frame{
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.featured-producers-container .producer-frame iframe{
    border-radius: 10px;
}

#glitter-class-producer{
    width: 100%;
    background-color: #282828;
    overflow-x: auto;
    padding: 10px;
}
#glitter-class-producer .glitter{
    display: flex;
    width: 100%;
    gap: 10px;
}
#glitter-class-producer .glitter-box .glitter-main{
    background-color: #C0C0C0;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    animation: glitter 2s infinite;
}


@keyframes glitter {
    0%{
        opacity: 0.2;
    }
    25%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
    
}


@keyframes fade {
    0%{
        opacity:0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
    
}


@media (max-width:765px) and (min-width:100px) {
.featured-producers-container{
    padding: 5px;
}
.featured-producers-container .featured-producers-header{
    color:#BF40BF;
    margin: 10px 0;
    font-size: small;
}

.featured-producer{
    padding: 2px;
}

.featured-producers .featured-producer .featured-producer-image{
    border-radius: 100px;
    padding: 2px;
    margin: 1px 5px;
}

.featured-producers .featured-producer .featured-producer-image img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.featured-producers .featured-producer .featured-producer-details p img{
    width: 10px;
    top: 2px;
}

#glitter-class-producer .glitter-box .glitter-main{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
}