.checkout-container{
    width: 100%;
    padding: 50px;
    overflow: hidden;
}
.checkout-container form{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.checkout-container form .checkout-left{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
}

.checkout-container form .checkout-left .checkout-left-header{
    display: flex;
}
.checkout-container form .checkout-left .checkout-left-header h2{
    line-height: 1.2em;
}
.checkout-container form .checkout-left .checkout-left-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: linear-gradient(to right, rgba(123,47,190,0.3),rgba(148,77,211,0.3));
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(16,13,26,0.5);
    border: 1px solid rgba(18,18,18,0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    padding: 10px;
}

.checkout-container form .checkout-left .checkout-left-form .form-class-small{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.checkout-container form .checkout-left .checkout-left-form .form-class-small input{
    width: 50%;
    padding: 10px;
    outline: 0;
    border: 0;
    border-radius: 5px;
}
.checkout-container form .checkout-left .checkout-left-form .form-class-small-large input{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 0;
    border-radius: 5px;
}

.checkout-container form .checkout-left .checkout-left-form .form-class-small-large textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 0;
    border-radius: 5px;
}
.checkout-container form .checkout-right{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
}
.checkout-container form .checkout-right .checkout-right-header{
    align-self: flex-end;
}
.checkout-container form .checkout-right .checkout-right-orders{
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    align-self: flex-end;
}
.checkout-container form .checkout-right .checkout-right-orders .checkout-right-order{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    border-radius: 10px;
    
}
.checkout-container form .checkout-right .checkout-right-orders .checkout-right-order:hover{
    cursor: pointer;
    transform: translateY(-3px);
}
.checkout-container form .checkout-right .checkout-right-orders .checkout-right-order .checkout-right-order-img img{
    width: 300px;
    max-height: 300px;
    object-fit:cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.checkout-container form .checkout-right .checkout-right-orders .checkout-right-order .checkout-right-order-details{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width:100%;
    padding: 10px;
}

.checkout-container form .checkout-right .checkout-right-mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    align-self: flex-end;
    border-top: 1px solid #7b2fbe;
    border-bottom: 1px solid #7b2fbe;
    border-radius: 5px;
    padding: 13px;
}
.checkout-container form .checkout-right .checkout-right-mid .subtotal{
    font-weight: 600;
    text-shadow: 0 2px 4px #121212;
}
.checkout-container form .checkout-right .checkout-right-mid img{
    max-width: 25px;
    max-height: 25px;
    animation: rotate 6s infinite;
}
.checkout-container form .checkout-right .checkout-right-options{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: flex-end;
    line-height: 1.2;
}
.checkout-container form .checkout-right .checkout-right-options .mpesa{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}
.checkout-container form .checkout-right .checkout-right-options .mpesa .mpesa-box{
    width: 25px;
    height: 25px;
    border: 2px solid #E9E9E9;
    border-radius: 100px;
}
.checkout-container form .checkout-right .checkout-right-options .mpesa .mpesa-box:hover{
    cursor: pointer;
}
.checkout-container form .checkout-right .checkout-right-options .paypal{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}
.checkout-container form .checkout-right .checkout-right-options .paypal .paypal-box{
    width: 25px;
    height: 25px;
    border: 2px solid #E9E9E9;
    border-radius: 100px;
}
.checkout-container form .checkout-right .checkout-right-options .paypal .paypal-box:hover{
    cursor: pointer;
}
.checkout-container form .checkout-right .checkout-right-options .cod{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}
.checkout-container form .checkout-right .checkout-right-options .cod .cod-box{
    width: 25px;
    height: 25px;
    border: 2px solid #E9E9E9;
    border-radius: 100px;
}
.checkout-container form .checkout-right .checkout-right-options .cod .cod-box:hover{
    cursor: pointer;
}
.checkout-container form .checkout-right .checkout-right-btn{
    align-self: flex-end;
}

.checkout-container form .checkout-right .checkout-right-btn .mpesa-btn button{
    padding: 10px 90px;
    outline: 0;
    border: 0;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #4CBB17;
}
.checkout-container form .checkout-right .checkout-right-btn .mpesa-btn button:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.3s ease;
}
.checkout-container form .checkout-right .checkout-right-btn .paypal-btn button{
    padding: 10px 120px;
    outline: 0;
    border: 0;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #1F51FF;
}
.checkout-container form .checkout-right .checkout-right-btn .paypal-btn button:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.3s ease;
}
.checkout-container form .checkout-right .checkout-right-btn .cod-btn button{
    padding: 10px 70px;
    outline: 0;
    border: 0;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #FFD900;
}
.checkout-container form .checkout-right .checkout-right-btn .cod-btn button:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.3s ease;
}

.checkout-container .order-class{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    text-align: center;
    line-height: 1.5em;
}
.checkout-container .order-class button{
    padding: 10px 30px;
    outline: 0;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #FFD900;
    font-weight: 600;
}
.checkout-container .order-class button:hover{
    cursor: pointer;
}
@keyframes rotate {
    0%{
        transform: rotate(-360deg);
    }
    50%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*-------------------------------*/
@media (max-width:700px) and (min-width:50px) {
.checkout-container{
    padding: 10px;
}
.checkout-container form{
    flex-direction: column;
}
.checkout-container form .checkout-left{
    width: 100%;
}

.checkout-container form .checkout-left .checkout-left-header{
    align-self: center;
}
.checkout-container form .checkout-left .checkout-left-header h2{
    font-size: 20px;
}
.checkout-container form .checkout-left .checkout-left-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.checkout-container form .checkout-left .checkout-left-form .form-class-small{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.checkout-container form .checkout-left .checkout-left-form .form-class-small input{
    border-radius: 5px;
}
.checkout-container form .checkout-left .checkout-left-form .form-class-small-large input{
    border-radius: 5px;
}

.checkout-container form .checkout-left .checkout-left-form .form-class-small-large textarea{
    border-radius: 5px;
}
.checkout-container form .checkout-right{
    gap: 24px;
    width: 100%;
}
.checkout-container form .checkout-right .checkout-right-header{
    align-self: center;
}
.checkout-container form .checkout-right .checkout-right-header h2{
    font-size: 20px;
}
.checkout-container form .checkout-right .checkout-right-orders{
    align-self: flex-start;
}
.checkout-container form .checkout-right .checkout-right-orders .checkout-right-order{
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 12px;    
}
.checkout-container form .checkout-right .checkout-right-orders .checkout-right-order p{
    font-size: smaller;
}
.checkout-container form .checkout-right .checkout-right-orders .checkout-right-order .title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}
.checkout-container form .checkout-right .checkout-right-orders .checkout-right-order .checkout-right-order-img img{
    width: 150px;
    max-height: 150px;
    object-fit:cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.checkout-container form .checkout-right .checkout-right-orders .checkout-right-order .checkout-right-order-details{
    display: flex;
    gap: 6px;
}

.checkout-container form .checkout-right .checkout-right-mid{
    display: flex;
    align-self: flex-start;
}
.checkout-container form .checkout-right .checkout-right-mid p{
    font-size: 16px;
}

.checkout-container form .checkout-right .checkout-right-mid img{
    max-width: 25px;
    max-height: 25px;
}
.checkout-container form .checkout-right .checkout-right-options{
    display: flex;
    align-self: flex-start;
}
.checkout-container form .checkout-right .checkout-right-options .checkout-right-options-header h2{
    line-height: 1.2;
    font-size: 20px;
}
.checkout-container form .checkout-right .checkout-right-options .mpesa{
    display: flex;

}
.checkout-container form .checkout-right .checkout-right-options .mpesa .mpesa-box{
    width: 25px;
    height: 25px;
}

.checkout-container form .checkout-right .checkout-right-options .paypal{
    display: flex;
    flex-direction: row;
}
.checkout-container form .checkout-right .checkout-right-options .paypal .paypal-box{
    width: 25px;
    height: 25px;
}

.checkout-container form .checkout-right .checkout-right-options .cod{
    display: flex;
    flex-direction: row;
}
.checkout-container form .checkout-right .checkout-right-options .cod .cod-box{
    width: 25px;
    height: 25px;
}
.checkout-container form .checkout-right .checkout-right-btn{
    align-self: flex-start;
    width: 100%;
}

.checkout-container form .checkout-right .checkout-right-btn .mpesa-btn button{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 0;
}

.checkout-container form .checkout-right .checkout-right-btn .paypal-btn button{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 0;
}

.checkout-container form .checkout-right .checkout-right-btn .cod-btn button{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 0;
}
.checkout-container .order-class{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    text-align: center;
    
}
.checkout-container .order-class p{
    font-size: 20px;
    line-height: 1.5em;
}
.checkout-container .order-class h2{
    font-size: 20px;
    line-height: 1.5em;
}
.checkout-container .order-class button{
    padding: 10px 30px;

}
   
}