.checkout-container{
    color: #FAF9F6;
    padding: 10px;
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    gap: 2rem;
}

.checkout-container .checkout-left{
    width: 70%;
    margin-top: 10px;
}
.checkout-container .checkout-left .checkout-left-form{
    width: 100%;
    margin-top: 20px;
}

.checkout-container .checkout-left .checkout-left-form form{
    width: 100%;
}
.checkout-container .checkout-left .checkout-left-form form input,textarea{
    color: #FAF9F6;
}

.checkout-container .checkout-left .checkout-left-form form .form-class{
    display: flex;
    gap: 5px;
}

.checkout-container .checkout-left .checkout-left-form form input[name=fname]{
    width: 50%;
    background: transparent;
    outline: 0;
    border: 2px solid #FAF9F6;
    padding: 10px;
    border-radius: 5px;
}
.checkout-container .checkout-left .checkout-left-form form input[name=lname]{
    width: 50%;
    background: transparent;
    outline: 0;
    border: 2px solid #FAF9F6;
    padding: 10px;
    border-radius: 5px;
}

.checkout-container .checkout-left .checkout-left-form form input[name=email]{
    width: 100%;
    background: transparent;
    outline: 0;
    border: 2px solid #FAF9F6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.checkout-container .checkout-left .checkout-left-form form input[name=phone]{
    width: 100%;
    background: transparent;
    outline: 0;
    border: 2px solid #FAF9F6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.checkout-container .checkout-left .checkout-left-form form input[name=county]{
    width: 50%;
    background: transparent;
    outline: 0;
    border: 2px solid #FAF9F6;
    padding: 10px;
    border-radius: 5px;
}
.checkout-container .checkout-left .checkout-left-form form input[name=code]{
    width: 50%;
    background: transparent;
    outline: 0;
    border: 2px solid #FAF9F6;
    padding: 10px;
    border-radius: 5px;
}

.checkout-container .checkout-left .checkout-left-form form input[name=ward]{
    width: 50%;
    background: transparent;
    outline: 0;
    border: 2px solid #FAF9F6;
    padding: 10px;
    border-radius: 5px;
}
.checkout-container .checkout-left .checkout-left-form form input[name=street]{
    width: 50%;
    background: transparent;
    outline: 0;
    border: 2px solid #FAF9F6;
    padding: 10px;
    border-radius: 5px;
}

.checkout-container .checkout-left .checkout-left-form form textarea{
    width: 100%;
    background: transparent;
    outline: 0;
    border: 2px solid #FAF9F6;
    padding: 10px;
    border-radius: 5px;
}

.checkout-container .checkout-right{
    margin-top: 10px;
    width: 30%;
}

.checkout-container .checkout-right .checkout-right-order{
    margin: 20px 0;
}

.checkout-container .checkout-right hr{
    width: 58%;
    border-color: #BF40BF;
    opacity: 0.6;
    margin: 5px 0;
}
.checkout-container .checkout-right .checkout-right-payment{
    margin-top: 20px;
}
.checkout-container .checkout-right .checkout-right-payment h4{
    margin-bottom: 10px;
}
.checkout-container .checkout-right .checkout-right-payment .checkout-right-mpesa{
    display: flex;
    margin-bottom: 10px;
}
.checkout-container .checkout-right .checkout-right-payment .checkout-right-mpesa .mpesa-box{
    width: 15px;
    height: 15px;
    border: 1px solid #FAF9F6;
    border-radius: 100px;
    margin-right: 5px;
    cursor: pointer;
}
.checkout-container .checkout-right .checkout-right-payment .checkout-right-paypal{
    display: flex;
    margin-bottom: 10px;
}
.checkout-container .checkout-right .checkout-right-payment .checkout-right-paypal .paypal-box{
    width: 15px;
    height: 15px;
    border: 1px solid #FAF9F6;
    border-radius: 100px;
    margin-right: 5px;
    cursor: pointer;
}

.checkout-container .checkout-right .checkout-right-payment .checkout-right-cod{
    display: flex;
}
.checkout-container .checkout-right .checkout-right-payment .checkout-right-cod .cod-box{
    width: 15px;
    height: 15px;
    border: 1px solid #FAF9F6;
    border-radius: 100px;
    margin-right: 5px;
    cursor: pointer;
}

.checkout-container .checkout-right .checkout-right-payment button{
    padding: 5px 30px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-weight: 800;
    margin-top: 10px;
}

.checkout-container .checkout-right .checkout-right-payment button:hover{
    cursor: pointer;
}

.checkout-container .checkout-right .checkout-right-order{
    display: flex;
    gap: 5px;
}
#checkout-right-order-img{
    width: 100px;
    border-radius: 5px;
}
#checkout-right-order-img:hover{
    cursor: pointer;
    padding: 8px;
}

#checkout-right-items{
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

@media (max-width:765px) and (min-width:100px) {
.checkout-container{
    padding-bottom: 50px;
    flex-direction: column;
    gap: 1rem;
}
.checkout-container .checkout-left{
    margin-top: 10px;
    width: 100%;
}
.checkout-container .checkout-left .checkout-left-form{
    width: 100%;
    margin-top: 20px;
}

.checkout-container .checkout-left .checkout-left-form form{
    width: 100%;
}

.checkout-container .checkout-left .checkout-left-form form .form-class{
    display: flex;
    gap: 4px;
}

.checkout-container .checkout-right{
    margin-top: 10px;
    width: 100%;
}

.checkout-container .checkout-right .checkout-right-order{
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.checkout-container .checkout-right .checkout-right-order{
    display: flex;
}

#checkout-right-order-img{
    width: 100px;
}

#checkout-right-items{
    display: flex;
    gap: 5px;
    overflow-x: auto;
}  
.checkout-container .checkout-right hr{
    width: 45%;
    margin: 5px 0;
}
}