.faqs{
    width: 100%;
    background: linear-gradient(to right,#532081,#3d175f);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}
.faqs .faqs-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 25px;
}
.faqs .faqs-header .faqs-header-img img{
    width: 75px;
    height: 75px;
    animation: rotate 6s infinite;
    box-shadow:0 4px 8px 1px rgba(123,47,190,0.6);
    border-radius: 100px;
    padding: 6px;
    border: 1px solid rgba(16,13,26,0.5);
    animation: rotate 10s infinite;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    animation: rotate 6s infinite;
}
.faqs .faqs-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.faqs .faqs-container .faq{
    background: rgba(22,13,42,0.5); 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 1px rgba(22,13,42,0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #100D1A;
}
.faqs .faqs-container .faq:hover{
    cursor: pointer;
    transform: translateY(2px);
}

.faqs .faqs-container .faq .faq-title{
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: 0.3s ease;
}

.faqs .faqs-container .faq .faq-title .faq-title-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.faqs .faqs-container .faq .faq-title .faq-title-top img{
    max-width: 25px;
    max-height: 25px;
    box-shadow: 0 2px 4px rgba(22,13,42,0.5);
    align-self: baseline;
    padding: 3px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.faqs .faqs-container .faq .faq-title-bottom{
    display: flex;
    transition: 0.3s ease;
    border-top: 1px solid #7b2fbe;
    padding-top: 12px;
}
.faqs .faqs-btn{
    align-self: center;
    padding: 50px 0;
}

.faqs .faqs-btn button{
    padding: 10px 30px;
    outline: 0;
    border: 0;
    background: #FFD900;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 8px 16px 1px rgba(22,13,42,0.8);
}

.faqs .faqs-btn button:hover{
    cursor: pointer;
    transform: translateX(6px);
}

/*----------------------------------*/

@media (max-width:600px) and (min-width:50px) {  
.faqs{
    width: 100%;
    gap: 24px;
    padding: 25px;
}
.faqs .faqs-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.faqs .faqs-header .faqs-header-img img{
    width: 50px;
    height: 50px;
}
.faqs .faqs-header .faqs-header-top h2{
    font-size: 20px;
}
.faqs .faqs-header .faqs-header-bottom h3{
    font-size: 16px;
}
.faqs .faqs-container{
    grid-template-columns: 1fr;
    gap: 12px;
}
.faqs .faqs-container .faq{
    border: 1px solid #100D1A;
}
.faqs .faqs-container .faq .faq-title{
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: 0.3s ease;
}

.faqs .faqs-container .faq .faq-title .faq-title-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}
.faqs .faqs-container .faq .faq-title .faq-title-top p{
    font-size: 16px;
}
.faqs .faqs-container .faq .faq-title .faq-title-top img{
    max-width: 25px;
    max-height: 25px;
    align-self: baseline;
}

.faqs .faqs-container .faq .faq-title-bottom{
    display: flex;
    transition: 0.3s ease;
    padding-top: 12px;
}
.faqs .faqs-container .faq .faq-title-bottom p{
    font-size: 16px;
}
.faqs .faqs-btn{
    align-self: center;
    padding: 25px 0;
}
.faqs .faqs-btn button{
    padding: 10px 30px;
}
}


@media (max-width:900px) and (min-width:601px) {  
.faqs{
    width: 100%;
    gap: 24px;
    padding: 25px;
}
.faqs .faqs-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.faqs .faqs-header .faqs-header-img img{
    width: 50px;
    height: 50px;
}
.faqs .faqs-header .faqs-header-top h2{
    font-size: 20px;
}
.faqs .faqs-header .faqs-header-bottom h3{
    font-size: 16px;
}
.faqs .faqs-container{
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
.faqs .faqs-container .faq{
    border: 1px solid #100D1A;
}
.faqs .faqs-container .faq .faq-title{
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: 0.3s ease;
}

.faqs .faqs-container .faq .faq-title .faq-title-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}
.faqs .faqs-container .faq .faq-title .faq-title-top p{
    font-size: 16px;
}
.faqs .faqs-container .faq .faq-title .faq-title-top img{
    max-width: 25px;
    max-height: 25px;
    align-self: baseline;
}

.faqs .faqs-container .faq .faq-title-bottom{
    display: flex;
    transition: 0.3s ease;
    padding-top: 12px;
}
.faqs .faqs-container .faq .faq-title-bottom p{
    font-size: 18px;
}
.faqs .faqs-btn{
    align-self: center;
    padding: 25px 0;
}
.faqs .faqs-btn button{
    padding: 10px 30px;
}
}
