.register-container{
    color: #FAF9F6;
    padding: 10px;
    width: 100%;
    padding: 50px 0;
}
.register-container .register-form{
    width: 50%;
    justify-self: center;
}

.register-container .register-form form input{
    width: 100%;
    padding: 20px;
    outline: 0;
    border: 0;
    border-radius: 5px;
}
.register-container .register-form form .input-class{
    margin: 10px;
}

.register-container .register-form form  button{
    width: 100%;
    padding: 12px;
    background-color: #FFD900;
    outline: 0;
    border: 0;
    font-size: x-large;
}
.register-container .register-form form  button:hover{
    cursor: pointer;
}
.register-container .register-form p{
    text-align: center;
}

.register-container .register-form span{
    cursor: pointer;
}

.register-container .register-form form select{
    width: 100%;
    padding: 20px;
}

#user-avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#user-avatar:hover{
    cursor: pointer;
}

#avatar-class{
    justify-self: center;
}

#avatar-class:hover{
    cursor: pointer;
}
.load{
    width: 100%;
    margin: 100px 0;
    padding: 20px;
}
.loader{
    border: 2px solid #BF40BF;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    animation: loader 1s infinite;
    justify-self: center;
}

.loader-text{
    justify-self: center;
    color: #FFFFFF;
    margin-top: 10px;
}

@keyframes loader {
    0%{
        border: 2px solid #BF40BF;
    }
    25%{
        border-left: 4px solid #BF40BF;
    }
    50%{
        border-top: 6px solid #BF40BF;
    }
    75%{
        border-right: 8px solid #BF40BF;
    }
    100%{
        border-bottom: 10px solid #BF40BF;
    }
    
}
@media (max-width:765px) and (min-width:100px) {
.register-container{
    width: 100%;
}
.register-container .register-form{
    margin-top: -50px;
    width: 100%;
}

#user-avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}  
}

/*
black
  #000000 - 1
  #28282B - 2

grey
  #C0C0C0
  #C9C9C9

white
#FFFFFF - cream
#FAF9F6  *

green
#32CD32 *

blue
#1F51FF

yellow
#FFEA00
#FFD700 *

red
#FF0000
*/
