.notifications-container{
    width: 100%;
    margin-top: 50px;
}
.notifications-container .notifs{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notifications-container .notifs .notifs-top{
    width: 100%;
}

.notifications-container .notifs .notifs-top .notifs-top-header{
    background-color:#C0C0C0 ;
    text-align: center;
    padding: 10px;
}

.notifications-container .notifs .notifs-top .notifs-top-body{
    justify-self: center;
    width: 100%;padding: 10px;
}
.notifications-container .notifs .notifs-top .notifs-top-body form .form-class{
    margin: 10px 0px;
}
.notifications-container .notifs .notifs-top .notifs-top-body form input{
    width: 100%;
    padding: 10px;
    outline: 0;
}

.notifications-container .notifs .notifs-top .notifs-top-body form textarea{
    width: 100%;
    outline: 0;
}

.notifications-container .notifs .notifs-top .notifs-top-body form button{
    width: 100%;
    padding: 10px;
    background-color: #32CD32;
    outline: 0;
    border: 0;
}
.notifications-container .notifs .notifs-top .notifs-top-body form button:hover{
    cursor: pointer;
}

.notifications-container .notifs .notifs-bottom{
    width: 100%;
}

.notifications-container .notifs .notifs-bottom .notifs-class{
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
}

.notifications-container .notifs .notifs-bottom .notifs-class .single-notif{
    background-color: #C0C0C0;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    overflow: auto;
    opacity: 0.75;
}

@media (max-width:768px) and (min-width:100px) {

}