.above-footer-container{
    color: #FAF9F6;
    padding: 10px;
    overflow-x: hidden;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 50px 0;
    
}
.above-footer-container p{
    text-align: center;
}
.above-footer-container p img{
    width: 80px;
}

.above-footer-container p img:hover{
    cursor: pointer;
}

#above-footer-class{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    width: 100%;
    text-align: center;
}
#above-footer-class:hover{
    cursor: pointer;
    transform: translateY(5px);
    transition: 0.2s ease;
}

@media (max-width:769px) and (min-width:100px) {
.above-footer-container{
    color: #FAF9F6;
    padding: 10px;
    overflow-x: auto;
    flex-direction: column;
    gap: 5px;   
}
.above-footer-container p{
    text-align: center;
    
}
.above-footer-container h2{
    font-size: medium;
}
.above-footer-container p img{
    width: 50px;
}
#above-footer-class{
    width: 100%;
}
.above-footer-container p img:hover{
    cursor: pointer;
}
#above-footer-class{
    text-align: center;
}
}