.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 100%;
    padding: 12px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #100D1A;
}
.navbar .navbar-left img{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    padding: 4px;
}
.navbar .navbar-left img:hover{
    cursor: pointer;
}
.navbar .navbar-center a{
    text-decoration: none;
    color: #E9E9E9;
}
.navbar .navbar-center h1{
    color: #E9E9E9;
}
.navbar .navbar-center h1:hover{
    cursor: pointer;
}
.navbar .navbar-right img{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    padding: 4px;
}
.navbar .navbar-right img:hover{
    cursor: pointer;
}

.sidemenu{
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #100D1A;
    height: 100%;
    width: 300px;
    color: #E9E9E9;
    padding: 50px;
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(12px);
    border-right: 1px solid #121212;
}
.sidemenu .sidemenu-header{
    position: absolute;
    top: 2%;
}
.sidemenu .sidemenu-header h2{
    color: #E9E9E9;
}
.sidemenu .sidemenu-header:hover{
    cursor: pointer;
}
.sidemenu .sidemenu-mid{
    position: absolute;
    top: 10%;
}
.sidemenu .sidemenu-mid ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
} 
.sidemenu .sidemenu-mid ul a{
    text-decoration: none;
    color: #E9E9E9;
}
.sidemenu .sidemenu-mid ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: translateX(5px);
    transition: 0.3s ease;
}
.sidemenu .sidemenu-bottom{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidemenu .sidemenu-bottom button{
    padding: 10px 30px;
    border-radius: 50px;
    outline: 0;
    border: 0;
    background: #E9E9E9;
    color: #121212;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    font-weight: 600;
}
.sidemenu .sidemenu-bottom button:hover{
    cursor: pointer;
    transform: translateY(10px);
    transition: 0.3s ease;
}

@media (max-width:900px) and (min-width:50px) {
.navbar{
    display: flex;
}
.navbar .navbar-left img{
    width: 50px;
    height: 50px;
    padding: 4px;
}
.navbar .navbar-center a{
    text-decoration: none;
}
.navbar .navbar-center h1{
    font-size: clamp(18px,20px,24px);
    text-align: center;
}

.navbar .navbar-right img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.sidemenu{
    gap: 24px;
    width: 250px;
    color: #E9E9E9;
    padding: 25px;
}
.sidemenu .sidemenu-header{
    top: 5%;
}
.sidemenu .sidemenu-mid{
    top: 15%;
}
.sidemenu .sidemenu-mid ul{
    display: flex;
} 
.sidemenu .sidemenu-mid ul a{
    text-decoration: none;
}
.sidemenu .sidemenu-bottom{
    position: absolute;
}

.sidemenu .sidemenu-bottom button{
    padding: 10px 30px;
    border-radius: 50px;
}
}