.profile-container{
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 24px;
}
.profile-left{
    max-width: 50%;
}
.profile-left .profile-left-avatar{
    max-width: 100%;
}
.profile-left .profile-left-avatar img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.profile-left .profile-left-file{
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
}
.profile-right{
    width: 50%;
}

.profile-right .profile-right-form form{
    width: 100%;
}
.profile-right .profile-right-form form input{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    margin: 10px 0;
}

.profile-right .profile-right-form form textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    margin: 10px 0;
}

.profile-right .profile-right-form form button{
    width: 100%;
    padding: 15px;
    background-color: #FFD900;
    border: 0;
    outline: 0;
    font-weight: 600;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.profile-left input[type=file]:hover{
    cursor: pointer;
}
.profile-right .profile-right-form form button:hover{
    cursor: pointer;
}

@media (max-width:500px) and (min-width:100px) {
.profile-container{
    flex-direction: column;
    padding: 25px;
}
.profile-left{
    width: 100%;
    align-self: center;
}
.profile-left .profile-left-avatar img{
    width: 150px;
    height: 150px;
}
.profile-right{
    width: 100%;
}
 
}