.profile-container{
    background-color: #282828;
    color: #FAF9F6;
    padding: 10px;
    padding-bottom: 100px;
    display: flex;
    gap: 2rem;
}
.profile-left{
    margin-top: 10px;
}
.profile-left .profile-left-avatar{
    max-width: 100%;
}
.profile-left .profile-left-avatar img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.profile-left .profile-left-file{
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
}
.profile-right{
    margin-top: 10px;
    width: 50%;
}

.profile-right .profile-right-form form{
    width: 100%;
}
.profile-right .profile-right-form form input{
    width: 100%;
    padding: 10px;
    outline: 0;
    border:1px solid #FAF9F6;
    background: transparent;
    border-radius: 5px;
    margin: 10px 0;
    color: #FAF9F6;
}
.profile-right .profile-right-form form label{
    color: #FAF9F6;
}
.profile-right .profile-right-form form textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border:1px solid #FAF9F6;
    background: transparent;
    border-radius: 5px;
    margin: 10px 0;
    color: #FAF9F6;
}

.profile-right .profile-right-form form button{
    width: 100%;
    padding: 15px;
    background-color: #BF40BF;
    color: #FAF9F6;
    border: 0;
    outline: 0;
}
.profile-left input[type=file]:hover{
    cursor: pointer;
}
.profile-right .profile-right-form form button:hover{
    cursor: pointer;
}

@media (max-width:500px) and (min-width:100px) {
.profile-container{
    padding-bottom: 50px;
    flex-direction: column;
    gap: 1px;
}
.profile-left{
    margin-top: 10px;
}
.profile-left .profile-left-avatar{
    max-width: 100%;
    justify-self: center;
}


.profile-right{
    margin-top: 10px;
    width: 100%;
}
 
}