.featured-artists-container{
    color: #FAF9F6;
    padding: 10px;
}
.featured-artists-profile::-webkit-scrollbar{
    height: 0px;
}
.featured-artists-profile::-webkit-scrollbar-track {
    background: lightgray;
}

.featured-artists-profile{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.featured-artists-profile .featured-artist .featured-artist-image{
    width: fit-content;
    padding: 5px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.featured-artists-profile .featured-artist .featured-artist-image img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    animation: fade 5s ease;
}

.featured-artists-profile .featured-artist .featured-artist-image img:hover{
    cursor: pointer;
    padding: 5px;
    transform: translateY(-2px);
    transition: 0.5s ease-in;
}

.featured-artists-profile .featured-artist .featured-artist-detail{
    position: relative;
    left: calc(20%);
}

.featured-artists-profile .featured-artist .featured-artist-detail:hover{
    cursor: pointer;
}

.featured-artists-profile .featured-artist .featured-artist-detail img{
    width: 15px;
    position: relative;
    top: 4px;
}

#glitter-class-artist{
    width: 100%;
    background-color: #282828;
    overflow-x: auto;
    padding: 10px;
}
#glitter-class-artist .glitter{
    display: flex;
    width: 100%;
    gap: 10px;
}
#glitter-class-artist .glitter-box .glitter-main{
    background-color: #C0C0C0;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    animation: glitter 2s infinite;
}


@keyframes glitter {
    0%{
        opacity: 0.2;
    }
    25%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
    
}

@keyframes fade {
    0%{
        opacity:0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
    
}

@media (max-width:765px) and (min-width:100px) {
.featured-artists-container{
    padding: 5px;
}

.featured-artists-profile .featured-artist .featured-artist-image{
    padding: 2px;
    margin: 1px 10px;
}

.featured-artists-profile .featured-artist .featured-artist-image img{
    width: 100px;
    height: 100px;
}

.featured-artists-profile .featured-artist .featured-artist-detail img{
    width: 12px;
    top: 2px;
}
#glitter-class-artist .glitter-box .glitter-main{
    width: 100px;
    height: 100px;;
}
}