.users{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 50px;
    margin-top: 50px;
    overflow: hidden;
}
.users .users-top{
    align-self: center;
    background: rgba(255,255,255,0.6);
    border: 1px solid rgba(192,192,192,0.3);
    box-shadow: 0 4px 8px rgba(192,192,192,0.8);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(8px);
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
}
.users .users-mid{
    display: grid;
    grid-template-rows: 1fr;
    gap: 12px;
    width: 100%;
    box-sizing: border-box;
    background: rgba(255,255,255,0.6);
    border: 1px solid rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(192,192,192,0.8);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(8px);
    padding: 10px;
    border-radius: 10px;
    overflow-x: auto;
    max-height: 1000px;
    overflow-y: auto;
}
.users .users-mid .users-mid-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border-bottom: 2px solid rgba(16,13,26,0.4);
    padding: 10px 0;
}
.users .users-mid .users-mid-header .users-mid-header-name{
    box-sizing: border-box;
    width: 40%;
}
.users .users-mid .users-mid-header .users-mid-header-role{
    box-sizing: border-box;
    width: 15%;
}
.users .users-mid .users-mid-header .users-mid-header-date{
    box-sizing: border-box;
    width: 15%;
}
.users .users-mid .users-mid-header .users-mid-header-status{
    box-sizing: border-box;
    width: 15%;
}
.users .users-mid .users-mid-header .users-mid-header-actions{
    box-sizing: border-box;
    width: 15%;
}
.users .users-mid .user-class{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.users .users-mid .user-class .user-class-name{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    box-sizing: border-box;
    width: 40%;
}
.users .users-mid .user-class .user-class-name .user-class-name-left img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.users .users-mid .user-class .user-class-role{
    box-sizing: border-box;
    width: 15%;
}
.users .users-mid .user-class .user-class-date{
    box-sizing: border-box;
    width: 15%;
}
.users .users-mid .user-class .user-class-status{
    box-sizing: border-box;
    width: 15%;
}
.users .users-mid .user-class .user-class-actions{
    box-sizing: border-box;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 6px;
    align-items: center;
}

.users .users-mid .user-class .user-class-actions img{
    width: 50px;
    height: 50px;
}
.users .users-mid .user-class .user-class-actions img:hover{
    cursor: pointer;
    transform: translateY(10px);
    transition: 0.3s ease;
}

/*---------------------------------------*/
@media (max-width:900px) and (min-width:50px) {
.users{
    width: 100%;
    padding: 10px;
    padding-bottom: 50px;
}
.users .users-top{
    padding: 20px;
}
.users .users-top h1{
    font-size: clamp(18px, 20px, 24px);
    text-align: center;
}
.users .users-mid{
    display: grid;
}
.users .users-mid .users-mid-header{
    display: flex;
}
.users .users-mid .users-mid-header .users-mid-header-name{
    box-sizing: border-box;
}

.users .users-mid .user-class{
    display: flex;
}
.users .users-mid .user-class .user-class-name{
    flex-direction: column;
    align-items: start;
}
.users .users-mid .user-class .user-class-name .user-class-name-left img{
    width: 40px;
    height: 40px;
}
.users .users-mid .user-class .user-class-actions{
    box-sizing: border-box;
}

.users .users-mid .user-class .user-class-actions img{
    width: 40px;
    height: 40px;
    object-fit: fill;
}
    
}