.single-merchandise-container{
    color: #FAF9F6 ;
    padding: 10px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.single-merchandise-container .single-merchandise{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.single-merchandise-container .single-merchandise .single-merchandise-image{
    background-color: #FFFFFF ;
    border-radius: 10px;
    width: 100%;    
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#single-merchandise-image{
    border-radius: 10px;
    width: 100%;
}

#single-merchandise-image:hover{
    cursor: pointer;
    padding: 8px;
}

.single-merchandise-container .single-merchandise .single-merchandise-details{
    color: #BF40BF;
}
.single-merchandise-container .single-merchandise .single-merchandise-details #single-merch-image{
    width: 50px;
}

.single-merchandise-container .single-merchandise .single-merchandise-details #single-merch-image:hover{
    cursor: pointer;
}

.single-merchandise-container .single-merch-related{
    width: 50%;
}

.single-merchandise-container .single-merch-related{
   background-color: #FAF9F6; 
    height: fit-content;
    border-radius: 10px;
}
.single-merchandise-container .single-merch-related .single-merch-related-header{
    background-color: #BF40BF;
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.single-merchandise-container .single-merch-related .single-merch{
    display: flex;
    overflow-x: auto;
    padding: 20px;
}

.single-merchandise-container .single-merch-related .single-merch::-webkit-scrollbar{
    height: 0px;
}
.single-merchandise-container .single-merch-related .single-merch::-webkit-scrollbar-track {
    background: lightgray;
}


.single-merchandise-container .single-merch-related .single-merch .single-m #single-m-img{
    height: 50vh;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
}
.single-merchandise-container .single-merch-related .single-merch .single-m #single-m-img:hover{
    cursor: pointer;
    transform: translateY(-4px);

}
.single-merchandise-container .single-merch-related .single-merch .single-m{
    margin: 10px;
    color: #000000;
}

@media (max-width:765px) and (min-width:100px) {
.single-merchandise-container{
    padding: 5px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.single-merchandise-container .single-merchandise{
    margin-top: 10px;
    width: 100%;
    display: flex;
}

.single-merchandise-container .single-merchandise .single-merchandise-image{
    padding: 5px;
}

.single-merchandise-container .single-merch-related{
    margin-top: 20px;
    width: 100%;
}

.single-merchandise-container .single-merch-related .single-merch-related-header{
    padding: 10px;
    font-size: 12px;
}

.single-merchandise-container .single-merch-related .single-merch{
    padding: 5px;
}
.single-merchandise-container .single-merch-related .single-merch .single-m{
    margin: 2px;
}
}