.smerch-page{
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    overflow-x: hidden;
    background: rgba(123,47,190,0.6);
    border-radius: 10px;
    box-shadow: 0 4px 8px 4px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    border-radius: 10px; 
    border: 1px solid rgba(16,13,26,0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(10px);
}

.smerch-page .smerch-page-left{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.smerch-page .smerch-page-left .smerch-page-left-top{
    border-radius: 10px;
} 
.smerch-page .smerch-page-left .smerch-page-left-top img{
    width: 100%;
    max-height: 500px;
    object-fit:fill;
    background: rgba(147,75,210,0.1);
    box-shadow:0 4px 8px 0 rgba(13,11,20,1);
    padding: 4px;
    border-radius: 10px;
}
.smerch-page .smerch-page-left .smerch-page-left-top img:hover{
    cursor: pointer;
    object-fit: cover;
}
.smerch-page .smerch-page-left .smerch-page-left-mid{
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-width: 100%;
}
.smerch-page .smerch-page-left .smerch-page-left-mid .smerch-page-left-mid-1 img{
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    object-fit: fill;
    cursor: pointer;
    background: rgba(147,75,210,0.1);
    box-shadow:0 4px 8px 0 rgba(13,11,20,1);
    padding: 4px;
    border-radius: 10px;
}
.smerch-page .smerch-page-left .smerch-page-left-mid .smerch-page-left-mid-2 img{
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    object-fit: fill;
    cursor: pointer;
    background: rgba(147,75,210,0.1);
    box-shadow:0 4px 8px 0 rgba(13,11,20,1);
    padding: 4px;
    border-radius: 10px;
}
.smerch-page .smerch-page-right{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.smerch-page .smerch-page-right .smerch-page-right-top{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.smerch-page .smerch-page-right .smerch-page-right-top .smerch-page-right-top-title{
    display: flex;
}
.smerch-page .smerch-page-right .smerch-page-right-top .smerch-page-right-top-price{
    background: rgba(147,75,210,0.1);
    box-shadow:0 4px 8px 0 rgba(13,11,20,1);
    padding: 10px;
    border-radius: 50px;
    width: fit-content;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid #100D1A;
}
.smerch-page .smerch-page-right .smerch-page-right-top .smerch-page-right-top-rating{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}
.smerch-page .smerch-page-right .smerch-page-right-top .smerch-page-right-top-rating img{
    width: 25px;
    height: 25px;
    background: rgba(147,75,210,0.1);
    box-shadow:0 4px 8px 0 rgba(13,11,20,1);
    padding: 1px;
    border-radius: 10px;
}
.smerch-page .smerch-page-right .smerch-page-right-top .smerch-page-right-top-rating img:hover{
    cursor: pointer;
    transform: rotate(360deg);
    transition: 3s ease;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-btns{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-btns .smerch-page-right-bottom-btn-1 button{
    outline: 0;
    border: 0;
    background: #FFD900;
    padding: 10px 60px;
    border-radius: 50px;
    font-weight: 600;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-btns .smerch-page-right-bottom-btn-1 button:hover{
    cursor: pointer;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-btns .smerch-page-right-bottom-btn-2 button{
    outline: 0;
    border: 0;
    background: transparent;
    border: 2px solid #FFD900;
    color: #E9E9E9;
    padding: 10px 60px;
    border-radius: 50px;
    font-weight: 600;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-btns .smerch-page-right-bottom-btn-2 button:hover{
    cursor: pointer;
}

.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-items{
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: rgba(147,75,210,0.1);
    box-shadow:0 4px 8px 0 rgba(13,11,20,1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(10px);
    border: 1px solid #100D1A;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-items .smerch-page-right-bottom-items-item{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-items .smerch-page-right-bottom-items-item .smerch-page-right-bottom-items-item-left img{
    width: 30px;
    height: 30px;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-items .smerch-page-right-bottom-items-item .smerch-page-right-bottom-items-item-right{
    display: flex ;
    flex-direction: column;
    gap: 12px;
}

/*------------------------------------*/
@media (max-width:600px) and (min-width:50px) {
.smerch-page{
    padding: 10px;
    grid-template-columns: 1fr ;
    gap: 12px;
}

.smerch-page .smerch-page-left{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.smerch-page .smerch-page-left .smerch-page-left-top{
    border-radius: 10px;
} 
.smerch-page .smerch-page-left .smerch-page-left-top img{
    width: 100%;
    max-height: 400px;
    object-fit:fill;
}

.smerch-page .smerch-page-left .smerch-page-left-mid{
    display: flex;
    align-items: flex-start;
}
.smerch-page .smerch-page-left .smerch-page-left-mid .smerch-page-left-mid-1 img{
    max-width: 150px;
    max-height: 150px;

}
.smerch-page .smerch-page-left .smerch-page-left-mid .smerch-page-left-mid-2 img{
    max-width: 150px;
    max-height: 150px;
}
.smerch-page .smerch-page-right{
    gap: 24px;
}

.smerch-page .smerch-page-right .smerch-page-right-top{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.smerch-page .smerch-page-right .smerch-page-right-top .smerch-page-right-top-price{
    padding: 10px;
    margin-top: 10px;
}
.smerch-page .smerch-page-right .smerch-page-right-top .smerch-page-right-top-rating{
    display: flex;
}
.smerch-page .smerch-page-right .smerch-page-right-top .smerch-page-right-top-rating img{
    width: 25px;
    height: 25px;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom{
    display: flex;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-btns{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-btns .smerch-page-right-bottom-btn-1 button{
    width: 100%;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-btns .smerch-page-right-bottom-btn-2 button{
    width: 100%;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-items{
    display: flex;
    gap: 12px;  
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-items .smerch-page-right-bottom-items-item{
    display: flex;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-items .smerch-page-right-bottom-items-item .smerch-page-right-bottom-items-item-left img{
    width: 30px;
    height: 30px;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-items .smerch-page-right-bottom-items-item .smerch-page-right-bottom-items-item-right{
    display: flex ;
    flex-direction: column;
    gap: 6px;
}   
}


@media (max-width:900px) and (min-width:601px) {
.smerch-page{
    padding: 25px;
    grid-template-columns: 1fr ;
    gap: 12px;
}

.smerch-page .smerch-page-left{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.smerch-page .smerch-page-left .smerch-page-left-top{
    border-radius: 10px;
} 
.smerch-page .smerch-page-left .smerch-page-left-top img{
    width: 100%;
    max-height: 400px;
    object-fit:fill;
}

.smerch-page .smerch-page-left .smerch-page-left-mid{
    display: flex;
    align-items: flex-start;
}
.smerch-page .smerch-page-left .smerch-page-left-mid .smerch-page-left-mid-1 img{
    max-width: 150px;
    max-height: 150px;

}
.smerch-page .smerch-page-left .smerch-page-left-mid .smerch-page-left-mid-2 img{
    max-width: 150px;
    max-height: 150px;
}
.smerch-page .smerch-page-right{
    gap: 24px;
}

.smerch-page .smerch-page-right .smerch-page-right-top{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.smerch-page .smerch-page-right .smerch-page-right-top .smerch-page-right-top-price{
    padding: 10px;
    margin-top: 10px;
}
.smerch-page .smerch-page-right .smerch-page-right-top .smerch-page-right-top-rating{
    display: flex;
}
.smerch-page .smerch-page-right .smerch-page-right-top .smerch-page-right-top-rating img{
    width: 25px;
    height: 25px;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom{
    display: flex;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-btns{
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-btns .smerch-page-right-bottom-btn-1{
    width: 100%;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-btns .smerch-page-right-bottom-btn-1 button{
    width: 100%;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-btns .smerch-page-right-bottom-btn-2{
    width: 100%;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-btns .smerch-page-right-bottom-btn-2 button{
    width: 100%;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-items{
    display: flex;
    gap: 12px;  
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-items .smerch-page-right-bottom-items-item{
    display: flex;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-items .smerch-page-right-bottom-items-item .smerch-page-right-bottom-items-item-left img{
    width: 30px;
    height: 30px;
}
.smerch-page .smerch-page-right .smerch-page-right-bottom .smerch-page-right-bottom-items .smerch-page-right-bottom-items-item .smerch-page-right-bottom-items-item-right{
    display: flex ;
    flex-direction: column;
    gap: 6px;
}   
}



