.smerch-page{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}
.smerch-page .smerch-top{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-self: center;
    gap: 24px;
    padding: 25px;
    background: linear-gradient(to right, rgba(123,47,190,0.3),rgba(148,77,211,0.3));
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(16,13,26,0.5);
    border: 1px solid rgba(18,18,18,0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
}
.smerch-page .smerch-top .smerch-top-left{
    display: flex;
    gap: 12px;
}

.smerch-page .smerch-top .smerch-top-left .smerch-top-left-left{
    background: #E9E9E9;
    border-radius: 10px;
    height: fit-content;
}
.smerch-page .smerch-top .smerch-top-left .smerch-top-left-left img{
    width: 100%;
    border-radius: 10px;
    max-height: 500px;
}
.smerch-page .smerch-top .smerch-top-left .smerch-top-left-left img:hover{
    cursor: pointer;
}
.smerch-page .smerch-top .smerch-top-left .smerch-top-left-right img{
    width: 150px;
    border-radius: 10px;
}
.smerch-page .smerch-top .smerch-top-left .smerch-top-left-right{
    background: #E9E9E9;
    border-radius: 10px;
    height: fit-content;
}
.smerch-page .smerch-top .smerch-top-left .smerch-top-left-right img:hover{
    cursor: pointer;
}
.smerch-page .smerch-top .smerch-top-right{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.smerch-page .smerch-top .smerch-top-right .smerch-top-right-title{
display: flex;
}
.smerch-page .smerch-top .smerch-top-right .smerch-top-right-rating{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.smerch-page .smerch-top .smerch-top-right .smerch-top-right-description{
    display: flex;
}
.smerch-page .smerch-top .smerch-top-right  .smerch-top-right-price{
    display: flex;
}
.smerch-page .smerch-top .smerch-top-right .smerch-top-right-rating img{
    max-width: 20px;
    max-height: 20px;
}
.smerch-page .smerch-top .smerch-top-right .smerch-top-right-rating img:hover{
    cursor: pointer;
}
.smerch-page .smerch-top .smerch-top-right .smerch-top-right-btn{
    align-self: flex-start;
}

.smerch-page .smerch-top .smerch-top-right .smerch-top-right-btn button{
    background: #FFD900;
    padding: 10px 60px;
    outline: 0;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
}
.smerch-page .smerch-top .smerch-top-right .smerch-top-right-btn button:hover{
    cursor: pointer;
    transform: translateY(6px);
    transition: 0.3s ease;
}

/*---------------------------------------------------*/
@media (max-width:1000px) and (min-width:50px) {
.smerch-page{
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}
.smerch-page .smerch-top{
    flex-direction: column;
    gap: 12px;
    padding: 10px;
}
.smerch-page .smerch-top .smerch-top-left{
    display: flex;
    gap: 12px;
}
.smerch-page .smerch-top .smerch-top-left .smerch-top-left-left{
    background: #E9E9E9;
    border-radius: 10px;
}
.smerch-page .smerch-top .smerch-top-left .smerch-top-left-left img{
    width: 100%;
    border-radius: 10px;
    max-height: 500px;
}
.smerch-page .smerch-top .smerch-top-left .smerch-top-left-right img{
    width: 50px;
    border-radius: 10px;
}
.smerch-page .smerch-top .smerch-top-left .smerch-top-left-right{
    border-radius: 10px;
}
.smerch-page .smerch-top .smerch-top-right{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.smerch-page .smerch-top .smerch-top-right .smerch-top-right-title h3{
    display: flex;
    font-size: 20px;
}
.smerch-page .smerch-top .smerch-top-right .smerch-top-right-rating{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.smerch-page .smerch-top .smerch-top-right .smerch-top-right-description p{
    display: flex;
    font-size: 16px;
}
.smerch-page .smerch-top .smerch-top-right  .smerch-top-right-price{
    padding-bottom: 25px;
}
.smerch-page .smerch-top .smerch-top-right  .smerch-top-right-price p{
    display: flex;
    font-size: 18px;
}
.smerch-page .smerch-top .smerch-top-right .smerch-top-right-rating img{
    max-width: 20px;
    max-height: 20px;
}
.smerch-page .smerch-top .smerch-top-right .smerch-top-right-rating img:hover{
    cursor: pointer;
}
.smerch-page .smerch-top .smerch-top-right .smerch-top-right-btn{
    align-self:center;
}

.smerch-page .smerch-top .smerch-top-right .smerch-top-right-btn button{
    padding: 10px 30px;
}   
}