.searched-container{
    color: #FAF9F6;
    padding: 10px;
    padding-bottom: 50px;
    overflow-x: hidden;
}

.searched-container .searched-results{
    margin-top: 10px;
}

.searched-container .searched-results .searched-bar{
    background-color: #FAF9F6;
    width: fit-content;
    justify-self: center;
    border-radius: 20px;
    
}
.searched-container .searched-results .searched-bar input{
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px 140px;
    border-radius: 20px;
}

.searched-container .searched-results .searched-bar img{
    width: 50px;
}

.searched-container .searched-item{
    background-color: #FAF9F6;
    color: #000000;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}
.searched-header{
    margin-top: 50px;
    margin-bottom: 20px;
}

.searched-container .searched-item-details p{
    margin: 20px 0;
}


.searched-related .searched-related-header{
    margin: 20px 0;
}

.searched-item{
    margin: 10px 0;
}

.searched-related .beat-related{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: #FAF9F6;
    border-radius: 5px;
    color: #000000;
    align-items: center;
    margin: 20px 0px;
    padding: 10px;
}

.searched-related .beat-related .beat-related-thumbnail img{
    width: 50px;
    border-radius: 5px;
}

.searched-related .beat-related .beat-related-thumbnail img:hover{
    cursor: pointer;
}

#beat-related-cart{
    width: 20px;
}

#beat-related-cart:hover{
    cursor: pointer;
}

#verified-mark{
    width: 10px;
}
.beat-related-producer{
    cursor: pointer;
}

#searched-cart{
    width: 50px;
    margin: 20px 0;
}
#searched-item-image{
    width: 300px;
    border-radius: 10px;
}

@media (max-width:800px) and (min-width:100px) {
.searched-container{
    padding: 10px;
    width: 100%;
}

.searched-container .searched-results{
    margin-top:10px;
    overflow-x: auto;
}
.searched-container .searched-item{
    display: grid;
    gap: 1rem;
    width: 330px;
    padding: 10px;
}

.searched-header{
    margin-top: 10px;
    margin-bottom: 10px;
}

.searched-container .searched-item-details p{
    margin: 20px 0;
}


.searched-related .searched-related-header{
    margin: 10px 0;
}

.searched-item{
    margin: 10px 0;
}

.searched-related .beat-related{
    width: 100%;
}
.searched-related .beat-related .beat-related-thumbnail img{
    width: 50px;
    border-radius: 5px;
}
.beat-related-title{
    display: none
}

#beat-related-cart{
    width: 20px;
}

#verified-mark{
    width: 10px;
}
.beat-related-producer{
    cursor: pointer;
}

#searched-cart{
    width: 50px;
    margin: 20px 0;
}
#searched-item-image{
    width:290px;
}
}

