.profile{
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}
.profile .profile-top{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
    background: linear-gradient(to right, rgba(123,47,190,0.3),rgba(148,77,211,0.3));
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(16,13,26,0.5);
    border: 1px solid rgba(18,18,18,0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    padding: 25px;
    align-items: center;
}
.profile .profile-top .profile-top-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 35%;

}
.profile .profile-top .profile-top-left .profile-top-left-bottom{
    background: rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    border-radius: 10px;
    padding: 10px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    width: fit-content;
    animation: opace 10s infinite;
}
.profile .profile-top .profile-top-left .profile-top-left-img img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.profile .profile-top .profile-top-left .profile-top-left-img img:hover{
    cursor: pointer;
}
.profile .profile-top .profile-top-mid{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 30%;
}
.profile .profile-top .profile-top-mid .profile-top-mid-name{
    background: rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    border-radius: 10px;
    padding: 10px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    width: fit-content;
    animation: opace 10s infinite;
}
.profile .profile-top .profile-top-mid .profile-top-mid-email{
    background: rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    border-radius: 10px;
    padding: 10px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    width: fit-content;
    animation: opace 10s infinite;
}
.profile .profile-top .profile-top-right{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 35%;
    align-items: center;
}
.profile .profile-top .profile-top-right .profile-top-right-left{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.profile .profile-top .profile-top-right .profile-top-right-left .profile-top-right-left-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 12px;

}
.profile .profile-top .profile-top-right .profile-top-right-left .profile-top-right-left-left .followers{
    background: rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    border-radius: 10px;
    padding: 10px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 100px;
    height: 50px; 
    width: 50px;
    animation: opace 10s infinite;
}

.profile .profile-top .profile-top-right .profile-top-right-left .profile-top-right-left-right{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.profile .profile-top .profile-top-right .profile-top-right-left .profile-top-right-left-right .following{
    background: rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    border-radius: 10px;
    padding: 10px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 100px;
    height: 50px; 
    width: 50px;
    animation: opace 10s infinite;
}
.profile .profile-top .profile-top-right .profile-top-right-right{
    text-align: center;
    background: rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    border-radius: 10px;
    padding: 10px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    animation: opace 10s infinite;
}
.profile .profile-mid{
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 25px;
    
}
.profile .profile-mid .profile-mid-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.profile .profile-mid .profile-mid-left iframe{
    border-radius: 10px;
    min-height: 400px;
}
.profile .profile-mid .profile-mid-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: linear-gradient(to right, rgba(123,47,190,0.3),rgba(148,77,211,0.3));
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(16,13,26,0.5);
    border: 1px solid rgba(18,18,18,0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    height: fit-content;
    padding: 12px;
}

.profile .profile-mid .profile-mid-right .profile-mid-right-class{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    background: rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    border-radius: 10px;
    padding: 10px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    animation: opace 10s infinite;
}
.profile .profile-mid .profile-mid-right .profile-mid-right-class:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.3s ease;
}
.profile .profile-mid .profile-mid-right .profile-mid-right-class .profile-mid-right-class-left img{
    width: 30px;
    height: 30px;
}

.profile .profile-mid .profile-mid-right .profile-mid-right-class .profile-mid-right-class-right a{
    text-decoration: none;
    color: #E9E9E9;
}
.profile .profile-bottom{
    align-self: center;
    padding: 25px;
}

.profile .profile-bottom button{
    padding: 10px 60px;
    background: #FFD900;
    border: 0;
    outline: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
}
.profile .profile-bottom button:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.3s ease;
}

@keyframes opace {
    0%{
        opacity: 0.6;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
    
}
/*------------------------------*/
@media (max-width:500px) and (min-width:50px) {
.profile{
    width: 100%;
    padding: 15px;
}
.profile .profile-top{
    flex-direction: column;
    gap: 24px;
    padding: 10px;
}
.profile .profile-top .profile-top-left{
    width: 100%;
}
.profile .profile-top .profile-top-left .profile-top-left-bottom{
    width: fit-content;
}
.profile .profile-top .profile-top-left .profile-top-left-img img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.profile .profile-top .profile-top-mid{
    align-items: center;
    width: 100%;
}
.profile .profile-top .profile-top-mid .profile-top-mid-name{
    width: fit-content;
}
.profile .profile-top .profile-top-mid .profile-top-mid-email{
    width: fit-content;
}
.profile .profile-top .profile-top-right{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    align-items: center;
}
.profile .profile-top .profile-top-right .profile-top-right-left{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile .profile-top .profile-top-right .profile-top-right-left .profile-top-right-left-left{
    display: flex;
    flex-direction: row;
    gap: 12px;

}
.profile .profile-top .profile-top-right .profile-top-right-left .profile-top-right-left-left .followers{
    height: 50px; 
    width: 50px;
}

.profile .profile-top .profile-top-right .profile-top-right-left .profile-top-right-left-right{
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
}
.profile .profile-top .profile-top-right .profile-top-right-left .profile-top-right-left-right .following{
    height: 50px; 
    width: 50px;
}
.profile .profile-top .profile-top-right .profile-top-right-right{
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
.profile .profile-mid{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
    
}
.profile .profile-mid .profile-mid-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.profile .profile-mid .profile-mid-left iframe{
    border-radius: 10px;
    min-height: 250px;
    width: 100%;
}
.profile .profile-mid .profile-mid-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: fit-content;
    padding: 12px;
}

.profile .profile-mid .profile-mid-right .profile-mid-right-class{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.profile .profile-mid .profile-mid-right .profile-mid-right-class .profile-mid-right-class-left img{
    width: 30px;
    height: 30px;
}

.profile .profile-mid .profile-mid-right .profile-mid-right-class .profile-mid-right-class-right a{
    text-decoration: none;
}
.profile .profile-bottom{
    align-self: center;
    padding: 25px;
}

.profile .profile-bottom button{
    padding: 10px 60px;
}    
}