.navbar{
    margin-bottom: 65px;
}
.navbar .nav-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    padding: 12px;
    padding:12px 24px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar .nav-container .navbar-left img{
    max-width: 50px;
    max-height: 50px;
}
.navbar .nav-container .navbar-left img:hover{
    cursor: pointer;
}
.navbar .nav-container .navbar-mid h1{
    color: #934BD2;
}
.navbar .nav-container .navbar-mid a{
    text-decoration: none;
    color: #E9E9E9;
}
.navbar .nav-container .navbar-mid h1:hover{
    cursor: pointer;
}
.navbar .nav-container .navbar-right{
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    position: relative;
}
.navbar .nav-container .navbar-right img{
    max-width: 50px;
    max-height: 50px;
}
.navbar .nav-container .navbar-right:hover{
    cursor: pointer;
}

.navbar .nav-container .navbar-right p{
    position: absolute;
    left: 60%;
    top: 60%;
    transform: translate(100%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background:#FFD900;
    color: #121212;
    border-radius: 100px;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 12px;
}

.sidemenu{
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 24px;
    min-width: 350px;
    height: 100vh;
    background: linear-gradient(to right, #612595,#944DD3);
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    display: none;
    transition: 0.3s ease;
    box-shadow: 0 8px 16px #100D1A;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
}
.sidemenu .sidemenu-header{
    text-align: center;
    position: fixed;
    top: 2%;
}
.sidemenu .sidemenu-header h1{
    cursor: pointer;
}

.sidemenu .sidemenu-content{
    position:absolute;
    top: 20%;
}  
.sidemenu .sidemenu-content ul{
    list-style: none;
} 
.sidemenu .sidemenu-content ul a{
    text-decoration: none;
    color: #E9E9E9;
}

.sidemenu .sidemenu-content ul li{
    margin: 24px 0;
}

.sidemenu .sidemenu-content ul li:hover{
    cursor: pointer;
    transform: translateX(4px);
    text-decoration: underline;
}

.sidemenu .sidemenu-logout{
    position:fixed;
    bottom: 15%;
    text-shadow: 0 1px 2px #121212;
    align-self: center;
    font-weight: 600;
}

.sidemenu .sidemenu-logout:hover{
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
}

.sidemenu .sidemenu-footer{
    position: fixed;
    bottom: 5%;
    align-self: center
}

.sidemenu .sidemenu-footer button{
    background:#FFD900;
    color: #121212;
    font-weight: 600;
    padding: 10px 30px;
    outline: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidemenu .sidemenu-footer button:hover{
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(16,13,26,0.5);
    backdrop-filter: blur(10px);
}

/*--------------------------------------------*/

@media (max-width:530px) and (min-width:50px) {
.navbar{
    margin-bottom: 55px;
}
.navbar .nav-container{
    padding: 12px;
    z-index: 1;
}
.navbar .nav-container .navbar-left img{
    max-width: 25px;
    max-height: 25px;
}
.navbar .nav-container .navbar-mid h1{
    font-size: clamp(16px,20px,24px);
}
.navbar .nav-container .navbar-right{
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
}
.navbar .nav-container .navbar-right img{
    max-width: 25px;
    max-height: 25px;
}
.navbar .nav-container .navbar-right p{
    background:#FFD900;
    color: #121212;
    border-radius: 100px;
    text-align: center;
    width: 15px;
    height: 15px;
}

.sidemenu{
    padding: 12px;
    min-width: 240px;
    gap: 50px;
    box-shadow: 0 8px 16px rgba(16,13,26,0.5);
}
.sidemenu .sidemenu-header{
    text-align: center;
    position: fixed;
    align-self: center;
    top: 2%;
}
.sidemenu .sidemenu-header h1{
    font-size: clamp(16px,20px,24px);
}

.sidemenu .sidemenu-content{
    position:absolute;
    top: 10%;
}  
.sidemenu .sidemenu-content ul{
    list-style: none;
} 

.sidemenu .sidemenu-content ul li{
    margin: 24px 0;
    font-size: clamp(14px,16px,18px);
}

.sidemenu .sidemenu-logout{
    position:fixed;
    bottom: 15%;
    text-shadow: 0 1px 2px #121212;
    align-self: center;
    font-weight: 600;
    font-size: clamp(14px,16px,18px);
}

.sidemenu .sidemenu-footer{
    position: fixed;
    bottom: 5%;
    align-self: center
}

.sidemenu .sidemenu-footer button{
    padding: 5px 30px;
    outline: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: clamp(14px,16px,18px);
}

.sidemenu .sidemenu-footer button:hover{
    cursor: pointer;
    transform: translateY(-4px);
    backdrop-filter: blur(10px);
}   
}