@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
.navbar{
    margin-bottom: 55px;
}
.navbar-container{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding: 5px;
    border-bottom: 0.5px solid #BF40BF;
    align-items: center;
}

.navbar-container img{
    width: 30px;
    height: 30px;
}

.navbar-container #nav-menu-icon{
    width: 30px;
    height: 40px;
    margin-right: 20px;
}

.navbar-container #nav-cart-icon{
    width: 30px;
}

.navbar-container #nav-user-icon{
    width: 30px;
}
.navbar-container #navbar-dropdown{
    width: 20px;
    height: 20px;
    position: relative;
    top: 15px;
}

.navbar-container img:hover{
    cursor: pointer;
}


.navbar-container .navbar-left{
    display: flex;
}

.navbar-container .navbar-left .navbar-logo{
    align-self: center;
    margin-left: 10px;
    color: #C0C0C0;
    word-spacing: 10px;
    letter-spacing: 5px;
}

.navbar-container .navbar-left .navbar-logo h1{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    word-spacing: 10px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #BF40BF;
}

.navbar-container .navbar-right{
    display: flex;
    gap: 2rem;
}

.navbar-container .navbar-right .navbar-user{
    display: flex;
}

.navbar-container .navbar-right .navbar-user h4{
    align-self: flex-end;
    color: #BF40BF;
    position: relative;
    
}

#navbar-dropdown:hover{
   transform: rotate(180deg);
}

.drop-down-hover{
    z-index: 1000;
    position: fixed;
    right: 5px;
    margin-top: 10px;
    width: 250px;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    display: none;
}

.drop-down-hover ul{
    list-style: none;
}

.drop-down-hover ul li{
    margin: 10px;
    color: #FFF;
}
.drop-down-hover ul li:hover{
    cursor: pointer;
}

.drop-down-hover ul hr{
    margin-top: 30px;
    border-color: #BF40BF;
    opacity: 0.5;
}

.nav-sidemenu{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #C0C0C0;
    display: none;
    overflow-y: auto;
}

.nav-sidemenu .sidemenu-header {
    background-color: #000000;
}

.nav-sidemenu .sidemenu-header img{
    width: 50%;
    justify-self: center;
    display: flex;
}

.nav-sidemenu .sidemenu-footer{
    position: fixed;
    bottom: 0;
    width: 250px;
    background-color: #000000;
}
.nav-sidemenu .sidemenu-footer img{
    width: 20%;
    display: flex;
    justify-self: center;
    padding: 10px;
}
.nav-sidemenu .sidemenu-footer img:hover{
    cursor: pointer;
}
.nav-sidemenu .sidemenu-list{
    padding: 10px;
}

.nav-sidemenu .sidemenu-list ul{
    list-style:none;
}
.nav-sidemenu .sidemenu-list ul li{
    margin: 20px 0px;
}
.nav-sidemenu .sidemenu-list ul li:hover{
    cursor: pointer;
    font-size: 15px;
}

#nav-cart-count{
    position: relative;
    left: 18px;
    align-content: center;
    bottom: 18px;
    background-color: #FF0000;
    width: 15px;
    height: 15px;
    border-radius: 100px;
}
#nav-cart-count p{
   color: #FAF9F6;
    text-align: center;
    font-size: small;
}

#nav-user-icon{
    border-radius: 100px;
}
#green-dot-notifs{
    width: 10px;
    height: 10px;
    background-color: #32CD32;
    border-radius: 100px;
    position: relative;
    left: 93px;
    bottom: 13px;
}
/*---------------------Mobile screens-------------------------*/
@media (max-width:768px){
.drop-down-hover{
    right: 5px;
    margin-top: 5px;
}
}

@media (max-width:500px) and (min-width:100px) {
.navbar-container .navbar-left .navbar-logo{
    margin-left: 1px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.navbar-container .navbar-left .navbar-logo h1{
    font-size:x-large;
}

.navbar-container .navbar-right{
    display: flex;
    gap: 10px;
}
.navbar-container .navbar-right .navbar-user h4{
    display: none;
}

.nav-sidemenu{
    width: 200px;
}

.nav-sidemenu .sidemenu-footer{
    width: 200px;
}


.nav-sidemenu .sidemenu-list ul li{
    margin: 20px 5px;
}

#nav-cart-count{
    align-content: center;
}

#nav-user-icon{
    border-radius: 100px;
}
.drop-down-hover{
    z-index: 1000;
    position: fixed;
    right: 5px;
    margin-top: 5px;
    width: 200px;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
}
    
}

/*
black
	#000000 - 1
  #28282B - 2

grey
  #C0C0C0
  #C9C9C9

white
#FFFFFF - cream
#FAF9F6  *

green
#32CD32 *

blue
#1F51FF

yellow
#FFEA00
#FFD700 *

red
#FF0000
*/
