.footer{
    width: 100%;
    background-color: #000000;
}
.footer-container{
    width: 100%;
    background-color: #000000;
    color:#FAF9F6;
    border: 0;
    border-top: 0.5px solid #BF40BF;
    display: flex;
    padding: 10px;
    justify-content: space-between;
   
}
.footer-container .footer-left{
    width: 35%;
}
.footer-container .footer-left p{
    color: #BF40BF;
}
.footer-container .footer-left .footer-left-links{
    display: flex;
    gap: 0.5rem;
}

.footer-container .footer-left .footer-left-developer a{
    text-decoration: none;
    color: #BF40BF;
    font-style: italic;
}

.footer-container .footer-left .footer-left-links img{
    width: 40px;
}
.footer-container .footer-left .footer-left-links img:hover{
    cursor: pointer;
    padding: 5px;
    transition: 0.5s ease-in;
}

.footer-container .footer-center{
    width: 35%;

}

.footer-container .footer-center .footer-center-links ul{
    list-style: none;
    margin-top: 10px;
}
.footer-container .footer-center .footer-center-links ul li{
    margin: 10px;
    color: #BF40BF;
}

.footer-container .footer-center .footer-center-links ul li:hover{
    cursor: pointer;
    transform: translateY(-4px);
    transition: 0.3s ease-in;
}

.footer-container .footer-right{
    width: 30%;
}

.footer-right form input{
    background: #FAF9F6;
    width: 95%;
    padding: 10px;
    border: 1px solid #FAF9F6;
    outline: 0;
    border-radius: 5px;
    color: #000000;
    margin-top: 10px;
}

.footer-right form button{
    width: 95%;
    padding: 10px;
    margin-top: 2px;
    background-color: #BF40BF;
    color: #FAF9F6;
    font-weight: 600;
    outline: 0;
    border: 0;
    margin-top: 5px;
}
.footer-right form button:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.5s ease-in;
}

.footer hr{
    border: 0.2px solid #BF40BF;
    opacity: 0.2;
}

#footer-p{
    text-align: center;
    padding: 5px;
    color: #BF40BF;
}

.footer-center-links a{
 text-decoration: none;
 color: #BF40BF;
}

@media (max-width:765px) and (min-width:100px) {
.footer-container{
    flex-direction: column-reverse;
    padding: 5px;  
    gap: 1rem; 
}

.footer-container .footer-left{
    margin-top: 10px;
    width: 100%;
}

.footer-container .footer-left .footer-left-links{
    display: flex;
    gap:0.8rem;
}

.footer-container .footer-left .footer-left-links img{
    width: 35px;
}

.footer-container .footer-center{
    width: 100%;

}

.footer-container .footer-right{
    width: 100%;
}

.footer-right form input{
    width: 100%;
}

.footer-right form button{
    width: 100%;

} 
}