.footer-container{
    width: 100%;
    background-color: #121212;
    overflow: hidden;
}
.footer-container .footer{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 24px;
}

.footer-container .footer .footer-left{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-container .footer .footer-left .footer-left-header h2{
    word-spacing: 10px;
    color: #934BD2;
    text-shadow: 0 2px 2px #000000;
    
}
.footer-container .footer .footer-left .footer-left-header h2:hover{
    cursor: pointer;
}
.footer-container .footer .footer-left .footer-left-mid h3{
    font-size: 20px;
}
.footer-container .footer .footer-left .footer-left-bottom  span{
    font-style: italic;
    cursor: pointer;
}
.footer-container .footer .footer-left .footer-left-bottom  span a{
    color: #E9E9E9;
}
.footer-container .footer .footer-center{
    display: flex;
    flex-direction: column;
    gap: 24px; 
    align-items: center;
}
.footer-container .footer .footer-center .footer-center-header h2{
    word-spacing: 10px;
    color: #934BD2;
    text-shadow: 0 2px 2px #000000;
}
.footer-container .footer .footer-center .footer-center-mid ul{
    list-style: none;
}
.footer-container .footer .footer-center .footer-center-mid ul a{
    text-decoration: none;
    color: #E9E9E9;
}
.footer-container .footer .footer-center .footer-center-mid ul li{
    margin: 12px 0;
}
.footer-container .footer .footer-center .footer-center-mid ul li:hover{
    cursor: pointer;
    transform: translateX(-6px);
    transition: 0.3s ease;
    text-decoration: underline;
}
.footer-container .footer .footer-right{
    display: flex;
    flex-direction: column;
    gap: 24px; 
    align-items: center;
}

.footer-container .footer .footer-right .footer-right-header h2{
    letter-spacing: 4px;
    color: #934BD2;
    text-shadow: 0 2px 2px #000000;
}

.footer-container .footer .footer-right .footer-right-mid ul{
    list-style: none;
}
.footer-container .footer .footer-right .footer-right-mid ul a{
    text-decoration: none;
    color: #E9E9E9;
}
.footer-container .footer .footer-right .footer-right-mid ul li{
    margin: 12px 0;
}
.footer-container .footer .footer-right .footer-right-mid ul li:hover{
    cursor: pointer;
    transform: translateX(-6px);
    transition: 0.3s ease;
    text-decoration: underline;
}

.footer-container .footer .footer-newsletter{
    display: flex;
    flex-direction: column;
    gap: 24px; 
}
.footer-container .footer .footer-newsletter .footer-newsletter-header h2{
    color: #934BD2;
    text-shadow: 0 2px 2px #000000;
}
.footer-container .footer .footer-newsletter form{
    min-width: 100%;
}

.footer-container .footer .footer-newsletter form input{
    width: 100%;
    padding: 10px 30px;
    outline: 0;
    border: 0;
    background: #E9E9E9;
    box-shadow: 0 4px 8px #000000;
}
.footer-container .footer .footer-newsletter form button{
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background: linear-gradient(to right, #7B2FBE ,#AF82D8);
    color: #E9E9E9;
    outline: 0;
    border: 0;
    font-weight: 800;
    letter-spacing: 4px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
} 

.footer-container .footer .footer-newsletter form button:hover{
    cursor: pointer;
    transform: translateX(-6px);
    letter-spacing: 0;
    transition: 0.3s ease;
}
.footer-container .footer-year{
    justify-self: center;
    padding-bottom: 12px;
}
.footer-container hr{
    margin: 12px 0;
    border-color: #E9E9E9;;
    opacity: 0.2;
}


/*----------------------------------------*/

@media (max-width:800px) and (min-width:50px) {
  .footer-container{
    width: 100%;
    overflow: hidden;
}
.footer-container .footer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: left;
}

.footer-container .footer .footer-left{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-container .footer .footer-left .footer-left-header h2{
    word-spacing: 10px;
}

.footer-container .footer .footer-left .footer-left-mid h3{
    font-size: 20px;
}
.footer-container .footer .footer-center{

    align-items:first baseline;
}

.footer-container .footer .footer-center .footer-center-mid ul{
    list-style: none;
}
.footer-container .footer .footer-center .footer-center-mid ul li{
    margin: 12px 0;
}
.footer-container .footer .footer-center .footer-center-mid ul li:hover{
    cursor: pointer;
    transform: translateX(-6px);
    transition: 0.3s ease;
    text-decoration: underline;
}
.footer-container .footer .footer-right{
    display: flex;
    flex-direction: column;
    gap: 24px; 
    align-items:first baseline;
}

.footer-container .footer .footer-right .footer-right-header h2{
    letter-spacing: 4px;
}

.footer-container .footer .footer-right .footer-right-mid ul{
    list-style: none;
}

.footer-container .footer .footer-right .footer-right-mid ul li{
    margin: 12px 0;
}
.footer-container .footer .footer-right .footer-right-mid ul li:hover{
    cursor: pointer;
    transform: translateX(-6px);
    transition: 0.3s ease;
    text-decoration: underline;
}

.footer-container .footer .footer-newsletter{
    display: flex;
    flex-direction: column;
    gap: 24px; 
}
.footer-container .footer .footer-newsletter .footer-newsletter-header h2{
    color: #934BD2;
}
.footer-container .footer .footer-newsletter form{
    min-width: 100%;
}

.footer-container .footer .footer-newsletter form input{
    width: 100%;
    padding: 10px 30px;
    outline: 0;
    border: 0;
    background: #E9E9E9;
    box-shadow: 0 4px 8px #000000;
}
.footer-container .footer .footer-newsletter form button{
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    outline: 0;
    border: 0;
    letter-spacing: 4px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
} 

.footer-container .footer .footer-newsletter form button:hover{
    cursor: pointer;
    transform: translateX(-6px);
    letter-spacing: 0;
    transition: 0.3s ease;
}
.footer-container .footer-year{
    justify-self: center;
    padding-bottom: 12px;
}
.footer-container hr{
    margin: 12px 0;
}
  
}



@media (max-width:930px) and (min-width:801px) {
  .footer-container{
    width: 100%;
    overflow: hidden;
}
.footer-container .footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-container .footer .footer-left{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-container .footer .footer-left .footer-left-header h2{
    word-spacing: 10px;
}

.footer-container .footer .footer-left .footer-left-mid h3{
    font-size: 20px;
}
.footer-container .footer .footer-center{

    align-items:first baseline;
}

.footer-container .footer .footer-center .footer-center-mid ul{
    list-style: none;
}
.footer-container .footer .footer-center .footer-center-mid ul li{
    margin: 12px 0;
}
.footer-container .footer .footer-center .footer-center-mid ul li:hover{
    cursor: pointer;
    transform: translateX(-6px);
    transition: 0.3s ease;
    text-decoration: underline;
}
.footer-container .footer .footer-right{
    display: flex;
    flex-direction: column;
    gap: 24px; 
    align-items:first baseline;
}

.footer-container .footer .footer-right .footer-right-header h2{
    letter-spacing: 4px;
}

.footer-container .footer .footer-right .footer-right-mid ul{
    list-style: none;
}

.footer-container .footer .footer-right .footer-right-mid ul li{
    margin: 12px 0;
}
.footer-container .footer .footer-right .footer-right-mid ul li:hover{
    cursor: pointer;
    transform: translateX(-6px);
    transition: 0.3s ease;
    text-decoration: underline;
}

.footer-container .footer .footer-newsletter{
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

.footer-container .footer .footer-newsletter form{
    min-width: 100%;
}

.footer-container .footer .footer-newsletter form input{
    width: 100%;
    padding: 10px 30px;
    outline: 0;
    border: 0;
    background: #E9E9E9;
    box-shadow: 0 4px 8px #000000;
}
.footer-container .footer .footer-newsletter form button{
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    outline: 0;
    border: 0;
    letter-spacing: 4px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
} 

.footer-container .footer .footer-newsletter form button:hover{
    cursor: pointer;
    transform: translateX(-6px);
    letter-spacing: 0;
    transition: 0.3s ease;
}
.footer-container .footer-year{
    justify-self: center;
    padding-bottom: 12px;
}
.footer-container hr{
    margin: 12px 0;
}
}