@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

*::-webkit-scrollbar {
  width: 0; 
  height: 0;
}
*::-webkit-scrollbar-track {
  background: #C0C0C0;  
}
*::-webkit-scrollbar-thumb {
  background-color: #C9C9C9; 
  border-radius: 10px;
}
body{
  background-color:#28282B;
}

/*
black
	#000000 - 1
  #28282B - 2

grey
  #C0C0C0
  #C9C9C9

white
#FFFFFF - cream
#FAF9F6  *

green
#32CD32 *

blue
#1F51FF

yellow
#FFEA00
#FFD700 *

red
#FF0000

purple
#BF40BF
#702963
#E6E6FA
#DA70D6
#800080
#7F00FF
*/