.merch-component{
    width: 100%;
    background: linear-gradient(to bottom,#532081,#9061D8);
    padding: 50px;
    overflow-x: hidden;
}
.merch-component .merch-component-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 25px;
    text-align: center;
}
.merch-component .merch-component-header .merch-component-header-img img{
    width: 75px;
    height: 75px;
    box-shadow:0 4px 8px 1px rgba(123,47,190,0.6);
    border-radius: 100px;
    padding: 6px;
    border: 1px solid rgba(16,13,26,0.5);
    animation: rotate 10s infinite;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    animation: rotate 6s infinite;
}

.merch-component .merch-component-header .merch-component-header-top{
    display: flex;
}

.merch-component .merch-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    padding-bottom: 25px ;
    
}
.merch-component .merch-container .merch{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items:last baseline;
    flex-wrap: nowrap;
    background: rgba(192,192,192,0.3);
    border-radius: 10px;
    box-shadow: 0 4px 8px 4px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    border-radius: 10px; 
    border: 1px solid rgba(16,13,26,0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    
}
.merch-component .merch-container .merch .merch-img img{
    width: 100%;
    height: 400px;
    object-fit: fill;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.merch-component .merch-container .merch .merch-img img:hover{
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}
.merch-component .merch-container .merch .merch-title{
    padding:0 12px ;
}
.merch-component .merch-container .merch .merch-title p{
    font-weight: 500;
}
.merch-component .merch-container .merch .merch-price{
    padding:0 12px ;
    padding-bottom: 12px;
}
.merch-component .merch-container .merch .merch-price p{
    font-weight: 700;
}

.merch-component .merch-footer{
    justify-self: center;
    text-align: center;
    padding: 50px;
}

.merch-component .merch-footer button{
    padding: 10px 60px;
    background: #FFD900;
    outline: 0;
    border: 0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 600;
}

.merch-component .merch-footer button:hover{
    cursor: pointer;
    transform: translateY(6px);
    transition: 0.3s ease;
}


.merch-component .merch-footer img:hover{
    cursor: pointer;
}
@keyframes rotate {
    0%{
        transform: rotate(-360deg);
    }
    50%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*-----------------------------------------------------*/
@media (max-width:470px) and (min-width:50px) {  
.merch-component{
    width: 100%;
    padding: 25px;
}
.merch-component .merch-component-header{
    gap: 12px;
    padding: 10px 0;
}
.merch-component .merch-component-header .merch-component-header-img img{
    width: 50px;
    height: 50px;
}

.merch-component .merch-component-header .merch-component-header-top h2{
    font-size: 20px;
    line-height: 1.3em;
}
.merch-component .merch-component-header .merch-component-header-mid{
    text-align: center;
}
.merch-component .merch-component-header .merch-component-header-mid p{
   line-height: 1.2em; 
}

.merch-component .merch-component-header .merch-component-header-left{
    text-align: center;
}
.merch-component .merch-component-header .merch-component-header-left h2{
    font-size: clamp(16px,20px,24px);
}
.merch-component .merch-component-header .merch-component-header-right button{
    padding: 10px 60px;
}

.merch-component .merch-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 12px;
    padding: 25px 0;
}
.merch-component .merch-container .merch{
    display: flex;
    width: 100%; 
}
.merch-component .merch-container .merch .merch-img img{
    width: 100%;
    height: 400px;
    object-fit:fill;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.merch-component .merch-container .merch .merch-img img:hover{
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}
.merch-component .merch-container .merch .merch-title{
    padding:0 12px ;
}
.merch-component .merch-container .merch .merch-title p{
    font-weight: 500;
}

.merch-component .merch-container .merch .merch-price p{
    font-weight: 700;
}

.merch-component .merch-footer{
    max-width: 100%;
    justify-self: center;
    text-align: center;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.merch-component .merch-footer h3{
    font-size: 18px;
}
.merch-component .merch-footer h4{
    font-size: 16px;
}
.merch-component .merch-footer img{
    max-width: 100px;
    max-height: 100px;
}
 
}



@media (max-width:1200px) and (min-width:471px) {  
.merch-component{
    width: 100%;
    padding: 25px;
}
.merch-component .merch-component-header{
    display: flex;
    gap: 6px;
    align-items: center;
}

.merch-component .merch-component-header .merch-component-header-left{
    text-align: center;
}
.merch-component .merch-component-header .merch-component-header-left h2{
    font-size: clamp(16px,20px,24px);
}
.merch-component .merch-component-header .merch-component-header-right button{
    padding: 10px 60px;
}

.merch-component .merch-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 25px 0;
}
.merch-component .merch-container .merch{
    display: flex;
    width: 100%; 
}
.merch-component .merch-container .merch .merch-img img{
    width: 100%;
    height: max-content;
    object-fit:fill;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.merch-component .merch-container .merch .merch-img img:hover{
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}
.merch-component .merch-container .merch .merch-title{
    padding:0 12px ;
}
.merch-component .merch-container .merch .merch-title p{
    font-weight: 500;
}

.merch-component .merch-container .merch .merch-price p{
    font-weight: 700;
}

.merch-component .merch-footer{
    max-width: 100%;
    justify-self: center;
    text-align: center;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.merch-component .merch-footer h3{
    font-size: 18px;
}
.merch-component .merch-footer h4{
    font-size: 16px;
}
.merch-component .merch-footer img{
    max-width: 100px;
    max-height: 100px;
}
 
}
