.featured-merchandise-container{
    color: #FAF9F6;
    padding: 10px;
}
.featured-merchandise-container .featured-merchandise-header{
    text-align: center;
    margin: 15px 0;
     box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 5px;
}
.featured-merchandise-container .featured-merchandise-header{
    display: flex;
    flex-direction: column;
}
.featured-merchandise-container .featured-merchandise-header h2,h4{
    color: #BF40BF;
}
.featured-merchandise-container .featured-merchandise-header  hr{
    border-color: #BF40BF;
    opacity: 0.4;
    margin-top: 5px;
}
.featured-merchandise{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6px;
    overflow-x: auto;
}
.featured-merchandise .featured-merch .featured-merch-image{
    width: 100%;
}
.featured-merchandise .featured-merch .featured-merch-image img{
    width:100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 #800080;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.featured-merchandise .featured-merch .featured-merch-image img:hover{
    cursor: pointer;
    
}
.featured-merchandise .featured-merch .featured-merch-image:hover{
    padding: 4px;
}
#featured-merch-cart{
    max-width: 20%;
}
#featured-merch-cart:hover{
    cursor: pointer;
}
.featured-merch-details{
    display: flex;
    justify-content: space-between;
    text-align: end;
    padding: 10px;
}
.featured-merch-detail1{
    width: 100%;
    text-align: start;
}

.featured-merch-detail1 h4{
    margin-bottom: 10px;
    color: #FAF9F6;
}
#glitter-class{
    width: 100%;
    background-color: #282828;
    overflow-x: auto;
    padding: 10px;
}
#glitter-class .glitter{
    display: flex;
    width: 100%;
    gap: 10px;
}
#glitter-class .glitter-box .glitter-main{
    background-color: #C0C0C0;
    width:400px;
    height: 400px;
    animation: glitter 2s infinite;
    border-radius: 10px;
}

#glitter-class .featured-merchandise-header{
    text-align: center;
    margin: 15px 0;
}
#glitter-class .featured-merchandise-header{
    display: flex;
    flex-direction: column;
}
#glitter-class .featured-merchandise-header h2,h4{
    color: #BF40BF;
}
#glitter-class .featured-merchandise-header  hr{
    border-color: #BF40BF;
    opacity: 0.4;
    margin-top: 5px;
}

@keyframes glitter {
    0%{
        opacity: 0.2;
    }
    25%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
    
}

@media (max-width:765px) and (min-width:100px) {
.featured-merchandise-container{
    padding: 5px;
}
.featured-merchandise-container .featured-merchandise-header{
    text-align: center;
    margin: 10px 0;
    font-size: smaller;
}
.featured-merchandise-container .featured-merchandise-header{
    display: flex;
    flex-direction: column;
}
.featured-merchandise-container .featured-merchandise-header h2,h4{
    color: #BF40BF;
}
.featured-merchandise-container .featured-merchandise-header  hr{
    border-color: #BF40BF;
    opacity: 0.4;
    margin-top: 5px;
}
.featured-merchandise{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.featured-merchandise .featured-merch .featured-merch-image img{
    height: 250px;
}
#featured-merch-cart{
    max-width: 40%;
    padding-right: 10px;
}
.featured-merch-details{
    padding: 5px;
}
.featured-merch-detail1 h4{
    margin-bottom: 2px;
}
#glitter-class{
    width: 100%;
    background-color: #282828;
    overflow-x: auto;
    padding: 10px;
}
#glitter-class .glitter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
}
#glitter-class .glitter-box .glitter-main{
    background-color: #C0C0C0;
    width:100%;
    height: 200px;
    animation: glitter 2s infinite;
    border-radius: 10px;
}

#glitter-class .featured-merchandise-header{
    text-align: center;
    margin: 10px 0;
    font-size: smaller;
}
#glitter-class .featured-merchandise-header{
    display: flex;
    flex-direction: column;
}
#glitter-class .featured-merchandise-header h2,h4{
    color: #BF40BF;
}
#glitter-class .featured-merchandise-header  hr{
    border-color: #BF40BF;
    opacity: 0.4;
    margin-top: 5px;
}
}