.featured-merchandise-container{
    color: #FAF9F6;
    padding: 10px;
}

.featured-merchandise{
    display: flex;
    gap: 6px;
    overflow-x: auto;
}
.featured-merchandise .featured-merch .featured-merch-image img{
    width:100%;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0 1px 5px #BF40BF;
}
.featured-merchandise .featured-merch .featured-merch-image img:hover{
    cursor: pointer;
    width: 98%;
}
#featured-merch-cart{
    max-width: 20%;
}
#featured-merch-cart:hover{
    cursor: pointer;
}
.featured-merch-details{
    display: flex;
    justify-content: space-between;
    text-align: end;
    padding: 10px;
}
.featured-merch-detail1{
    width: 100%;
    text-align: start;
}

.featured-merch-detail1 h4{
    margin-bottom: 10px;
}
#glitter-class{
    width: 100%;
    background-color: #282828;
    overflow-x: auto;
    padding: 10px;
}
#glitter-class .glitter{
    display: flex;
    width: 100%;
    gap: 10px;
}
#glitter-class .glitter-box .glitter-main{
    background-color: #C0C0C0;
    width:400px;
    height: 400px;
    animation: glitter 2s infinite;
    border-radius: 10px;
}


@keyframes glitter {
    0%{
        opacity: 0.2;
    }
    25%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
    
}

@media (max-width:765px) and (min-width:100px) {
.featured-merchandise-container{
    padding: 5px;
}

.featured-merchandise{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.featured-merchandise .featured-merch .featured-merch-image img{
    height: 250px;
}
#featured-merch-cart{
    max-width: 40%;
    padding-right: 10px;
}
.featured-merch-details{
    padding: 5px;
}
.featured-merch-detail1 h4{
    margin-bottom: 10px;
}
#glitter-class{
    width: 100%;
    background-color: #282828;
    overflow-x: auto;
    padding: 10px;
}
#glitter-class .glitter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
}
#glitter-class .glitter-box .glitter-main{
    background-color: #C0C0C0;
    width:100%;
    height: 200px;
    animation: glitter 2s infinite;
    border-radius: 10px;
}
}