.single-producer{
    width: 100%;
    padding: 25px;
    overflow: hidden;
}

.single-producer .single-producer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 12px;
    align-items: center;
    background: linear-gradient(to right, rgba(123,47,190,0.3),rgba(148,77,211,0.3));
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(16,13,26,0.5);
    border: 1px solid rgba(18,18,18,0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    padding: 25px;
}
.single-producer .single-producer-top .single-producer-top-left{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.single-producer .single-producer-top .single-producer-top-left .single-producer-top-left-top img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.single-producer .single-producer-top .single-producer-top-left .single-producer-top-left-bottom{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.single-producer .single-producer-top .single-producer-top-left .single-producer-top-left-bottom .single-producer-top-left-bottom-top{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.single-producer .single-producer-top .single-producer-top-left .single-producer-top-left-bottom .single-producer-top-left-bottom-top .single-producer-top-left-bottom-top-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.single-producer .single-producer-top .single-producer-top-left .single-producer-top-left-bottom .single-producer-top-left-bottom-top .single-producer-top-left-bottom-top-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-producer .single-producer-top .single-producer-top-left .single-producer-top-left-bottom .single-producer-top-left-bottom-mid button{
    padding: 10px 30px;
    background: #FFD900;
    border: 0;
    outline: 0;
    border-radius: 50px;
    font-weight: 600;
}
.single-producer .single-producer-top .single-producer-top-left .single-producer-top-left-bottom .single-producer-top-left-bottom-mid button:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.3s ease;
}

.single-producer .single-producer-top .single-producer-top-mid{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.single-producer .single-producer-top .single-producer-top-mid .single-producer-top-mid-email{
    background: rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    padding: 10px;
    border-radius: 50px;
    width: fit-content;
}
.single-producer .single-producer-top .single-producer-top-right{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.single-producer .single-producer-top .single-producer-top-right .single-producer-top-right-date{
    background: rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    padding: 10px;
    border-radius: 50px;
    width: fit-content;
}
.single-producer .single-producer-mid{
    padding: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.single-producer .single-producer-mid .single-producer-mid-left iframe{
    display: flex;
    height: 100%;
    border-radius: 10px;
    width: 100%;
}
.single-producer .single-producer-mid .single-producer-mid-right{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: linear-gradient(to right, rgba(123,47,190,0.3),rgba(148,77,211,0.3));
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(16,13,26,0.5);
    border: 1px solid rgba(18,18,18,0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    height: fit-content;
    padding: 12px
}

.single-producer .single-producer-mid .single-producer-mid-right .single-producer-mid-right-class{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    background: rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    border-radius: 10px;
    padding: 10px;
}
.single-producer .single-producer-mid .single-producer-mid-right .single-producer-mid-right-class:hover{
    cursor: pointer;
    transform: translateY(3px);
    padding: 3px;
    transition: 0.3s ease;
}
.single-producer .single-producer-mid .single-producer-mid-right a{
    color: #E9E9E9;
    text-decoration: none;
}
.single-producer .single-producer-mid .single-producer-mid-right .single-producer-mid-right-class .single-producer-mid-right-class-left img{
    width: 50px;
    height: 50px;
}
.single-producer .single-producer-bottom{
    justify-self: center;
    padding: 25px;
}
.single-producer .single-producer-bottom button{
    padding: 10px 60px;
    background: #FFD900;
    outline: 0;
    border: 0;
    border-radius: 50px;
}
.single-producer .single-producer-bottom button:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.3s ease;
}

/*--------------------------------------*/
@media (max-width:768px) and (min-width:50px) {
.single-producer{
    width: 100%;
    padding: 15px;
}

.single-producer .single-producer-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    align-items: flex-start;
    padding: 5px;
    overflow-x: auto;
}
.single-producer .single-producer-top .single-producer-top-left{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-self: center;
}

.single-producer .single-producer-top .single-producer-top-left .single-producer-top-left-top img{
    width: 100px;
    height: 100px;
}

.single-producer .single-producer-top .single-producer-top-left .single-producer-top-left-bottom{
    gap: 12px;
}

.single-producer .single-producer-top .single-producer-top-left .single-producer-top-left-bottom .single-producer-top-left-bottom-top{
    gap: 12px;
}

.single-producer .single-producer-top .single-producer-top-left .single-producer-top-left-bottom .single-producer-top-left-bottom-top .single-producer-top-left-bottom-top-1{
    align-items: center;
}
.single-producer .single-producer-top .single-producer-top-left .single-producer-top-left-bottom .single-producer-top-left-bottom-top .single-producer-top-left-bottom-top-2{
    align-items: center;
}

.single-producer .single-producer-top .single-producer-top-left .single-producer-top-left-bottom .single-producer-top-left-bottom-mid button{
    padding: 10px 30px;
}

.single-producer .single-producer-top .single-producer-top-mid{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.single-producer .single-producer-top .single-producer-top-mid .single-producer-top-mid-email{
    padding: 5px;
    border-radius: 50px;
    width: fit-content;
    
}
.single-producer .single-producer-top .single-producer-top-right{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.single-producer .single-producer-top .single-producer-top-right .single-producer-top-right-date{
    padding: 5px;
    border-radius: 50px;
}
.single-producer .single-producer-mid{
    padding: 25px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}
.single-producer .single-producer-mid .single-producer-mid-left iframe{
    display: flex;
    min-height: 350px;
    width: 100%;
}
.single-producer .single-producer-mid .single-producer-mid-right{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px
}
.single-producer .single-producer-mid .single-producer-mid-right h3{
    font-size: 20px;
}
.single-producer .single-producer-mid .single-producer-mid-right .single-producer-mid-right-class{
    display: flex;
}
.single-producer .single-producer-mid .single-producer-mid-right .single-producer-mid-right-class .single-producer-mid-right-class-left img{
    width: 25px;
    height: 25px;
}
.single-producer .single-producer-bottom{
    justify-self: center;
}
.single-producer .single-producer-bottom button{
    padding: 10px 30px;
} 
}