.order-container{
    padding: 50px;
    width: 100%;
}
.order-container .order-container-header{
   padding: 25px;
}

.order-container .order-box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #C0C0C0;
    height:100%;
    border-radius: 5px;
    padding: 20px;
    color: #000000;
    margin: 3px;
    overflow-x: auto;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.order-container .order-box .order-box-header{
    display: flex;
    justify-content: space-between;
}

.order-container .order-box hr{
    border: 1.5px solid #000000;
    margin-top: 5px;
}
.order-container .order-box .order-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
#order-item-img{
    width: 100px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
}
#order-item-img:hover{
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
}
@media (max-width:500px) and (min-width:50px) {
.order-container{
    padding: 10px;
    width: 100%;
}

.order-container .order-container-header{
   padding: 25px 0;
   width: 100%;
}
.order-container .order-container-header h2{
    line-height: 1.2em;
    font-size: 24px;
}
.order-container .order-box{
    padding: 10px;
}
.order-container .order-box .order-box-header{
    flex-direction: column;
    gap: 6px;
}

.order-container .order-box hr{
    margin-top: 5px;
}
.order-container .order-box .order-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 12px;
}
#order-item-img{
    width: 100px;

}   
}

