.order-container{
    color: #FAF9F6;
    padding: 10px;
    width: 100%;
    padding-bottom: 50px;
}

.order-container .order-container-header{
    margin-top: 10px;
    color: #BF40BF;
}

.order-container .order-box{
    background-color: #C0C0C0;
    height:100%;
    border-radius: 5px;
    padding: 20px;
    color: #000000;
    margin: 3px;
    overflow-x: auto;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.order-container .order-box .order-box-header{
    display: flex;
    justify-content: space-between;
}

.order-container .order-box hr{
    border: 1.5px solid #000000;
    margin-top: 5px;
}
.order-container .order-box .order-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#order-item-img{
    width: 100px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
}
#order-item-img:hover{
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
}

