.portal-container{
    color: #FAF9F6;
    padding: 10px;
    padding-bottom: 50px;
    width: 100%;
}
.producer-portal .producer-portal-artists{
    margin: 20px 0px;
    background-color: #FAF9F6;
    color: #000000;
    border-radius: 10px;
    padding-bottom: 20px;
}
.producer-portal .producer-portal-header{
    margin: 20px 0px;
}
.producer-portal-artists .producer-artists-header{
    margin: 10px 0px;
    background-color: #BF40BF;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}
.producer-portal .producer-portal-artists .producer-artists-list{
    display: flex;
    overflow-x: auto;
}
.producer-portal .producer-portal-artists .producer-artists-list .producer-artist{
    margin: 0px 5px;
    padding-top: 10px;
}
.producer-artist-details{
    position: relative;
    left: 20px;
}
#producer-artist-img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
}
#producer-artist-img:hover{
    cursor: pointer;
}
#artist-verify{
    width: 10px;
}

.producer-portal .producer-portal-prod{
    margin: 20px 0px;
    background-color: #FAF9F6;
    color: #000000;
    border-radius: 10px;
    padding-bottom: 20px;
}

.producer-portal .producer-portal-prod .producer-prod-header{
    margin: 10px 0px;
    background-color: #BF40BF;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.producer-portal .producer-portal-prod .producer-prod-list{
    display: flex;
    overflow-x: auto;
}
.producer-portal .producer-portal-prod .producer-prod-list .producer-prod{
    margin:0px 5px;
    padding-top: 10px;
}
.producer-prod-details{
    position: relative;
    left: 20px;
}
#producer-verify{
    width: 10px;
}

#producer-prod-img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
}
#producer-prod-img:hover{
    cursor: pointer;
}
.producer-portal .producer-sessions{
    display: flex;
    justify-self: center;
}

.producer-portal .producer-sessions button{
    padding: 20px 60px;
    outline: 0;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #BF40BF;
}

.producer-portal .producer-sessions button:hover{
    cursor: pointer;
}
/*----------------------Artist--------------------------*/

.artist-portal .artist-portal-artists{
    margin: 20px 0px;
    background-color: #FAF9F6;
    color: #000000;
    border-radius: 10px;
    padding-bottom: 20px;
}
.artist-portal .artist-portal-header{
    margin: 20px 0px;
}
.artist-portal-artists .artist-artists-header{
    margin: 10px 0px;
    background-color: #BF40BF;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}
.artist-portal .artist-portal-artists .artist-artists-list{
    display: flex;
    overflow-x: auto;
}
.artist-portal .artist-portal-artists .artist-artists-list .artist-artist{
    margin: 0px 5px;
    padding-top: 10px;
}
.artist-artist-details{
    position: relative;
    left: 20px;
}
#artist-artist-img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
}
#artist-artist-img:hover{
    cursor: pointer;
}
#artist-verify{
    width: 10px;
}

.artist-portal .artist-portal-prod{
    margin: 20px 0px;
    background-color: #FAF9F6;
    color: #000000;
    border-radius: 10px;
    padding-bottom: 20px;
}

.artist-portal .artist-portal-prod .artist-prod-header{
    margin: 10px 0px;
    background-color: #BF40BF;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.artist-portal .artist-portal-prod .artist-prod-list{
    display: flex;
    overflow-x: auto;
}
.artist-portal .artist-portal-prod .artist-prod-list .artist-prod{
    margin:0px 5px;
    padding-top: 10px;
}
.artist-prod-details{
    position: relative;
    left: 20px;
}
#producer-verify{
    width: 10px;
}

#artist-prod-img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
}
#artist-prod-img:hover{
    cursor: pointer;
}
.artist-portal .artist-sessions{
    display: flex;
    justify-self: center;
}

.artist-portal .artist-sessions button{
    padding: 20px 60px;
    outline: 0;
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #BF40BF;
    color: #FFFFFF;
}

.artist-portal .artist-sessions button:hover{
    cursor: pointer;
}

.default-portal{
    margin-top: 60px;
    height: 50vh;
}

.fan-portal{
    margin-top: 100px;
    height: 50vh;
}