.beats-component{
    max-width: 100%;
    justify-self: center;
    background: rgba(147,75,210,0.1);
    box-shadow: 0 2px 4px 0 rgba(13,11,20,1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid #121212;
    padding: 50px;
}

.beats-component .beats-component-header{
    text-align: center;
    margin: 12px 0;
}
.beats-component .beats-component-header h2{
    text-shadow: 0 3px 3px #121212;
}
.beats-component .featured-beats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    padding: 50px 0;
    overflow-x: auto;
}

.beats-component .featured-beats .featured-beat{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items:last baseline;
    flex-wrap: nowrap;
    background: rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
    border-radius: 10px;
}
.beats-component .featured-beats .featured-beat .featured-beat-thumbnail{
    border-radius: 10px;
    width: 100%;
}
.beats-component .featured-beats .featured-beat .featured-beat-thumbnail img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.beats-component .featured-beats .featured-beat .featured-beat-thumbnail img:hover{
    cursor: pointer;
    transform: translateY(-6px);
    transition: 0.3s ease;
}
.beats-component .featured-beats .featured-beat .featured-beat-rating{
    display: flex;
    gap: 6px;
    padding:0 10px;
}
.beats-component .featured-beats .featured-beat .featured-beat-rating img{
    max-width: 25px;
    max-height: 25px;
    background: rgba(147,75,210,0.1);
    box-shadow:0 4px 8px 0 rgba(13,11,20,1);
    padding: 1px;
    border-radius: 10px;
}
.beats-component .featured-beats .featured-beat .featured-beat-rating img:hover{
    cursor: pointer;
    transform: translateY(-2px);
    transform: rotate(360deg);
    transition: 0.3s ease;
}

.beats-component .featured-beats .featured-beat  .featured-beat-title{
    display: flex; 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding:0 10px;
    padding-bottom: 4px;
}
.beats-component .featured-beats .featured-beat  .featured-beat-title h5{
    font-size: clamp(20px, 24px, 28px);
    line-height: 1.2em;
}
.beats-component .featured-beats .featured-beat .featured-beat-price{
    padding:0 10px;
}
.beats-component .featured-beats .featured-beat  .featured-beat-price h5{
   color: #E9E9E9;
   font-size: clamp(20px, 24px, 28px);
}

.beats-component .featured-beats .featured-beat .featured-beat-button{
    align-self: center;
    width: 100%;
    padding: 10px;
}

.beats-component .featured-beats .featured-beat .featured-beat-button button{
    background:#FFD900;
    padding: 10px;
    width: 100%;
    outline: 0;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    
}
.beats-component .featured-beats .featured-beat .featured-beat-button button:hover{
    cursor: pointer;
    padding: 12px;
    transform: translateY(6px);
    transition: 0.3s ease;
}

.beats-component .featured-beats-btn{
    justify-self: center;
    margin-top: 25px;
}
.beats-component .featured-beats-btn button{
    padding: 10px 30px;
    background: #FFD900;
    outline: 0;
    border: 0;
    border-top-left-radius:10px ;
    border-bottom-right-radius: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 0 8px 16px rgba(16,13,26,0.6);
    border: 1px solid rgba(22,13,42,0.5);
}
.beats-component .featured-beats-btn button:hover{
    cursor: pointer;
    transform: translateY(-4px);
    transition: 0.3s ease;
}
/*------------------------------------------*/
@media (max-width:500px) and (min-width:50px) {
.beats-component{
    padding: 25px;
}

.beats-component .beats-component-header{
    text-align: center;
    margin: 12px 0;
}
.beats-component .beats-component-header h2{
    font-size: clamp(16px, 20px, 24px);
}
.beats-component .featured-beats{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 25px 0;
    overflow-x: auto;
}

.beats-component .featured-beats .featured-beat{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.beats-component .featured-beats .featured-beat .featured-beat-thumbnail{
    width: 100%;
}
.beats-component .featured-beats .featured-beat .featured-beat-thumbnail img{
    width: 100%;
}
.beats-component .featured-beats .featured-beat .featured-beat-rating{
    display: flex;
    gap: 6px;
}
.beats-component .featured-beats .featured-beat .featured-beat-rating img{
    max-width: 20px;
    max-height: 20px;
}

.beats-component .featured-beats .featured-beat  .featured-beat-title{
    display: flex; 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.beats-component .featured-beats .featured-beat  .featured-beat-title h5{
   font-size: clamp(14px, 16px, 20px);
}

.beats-component .featured-beats .featured-beat  .featured-beat-price h5{
   color: #E9E9E9;
   font-size: clamp(14px, 16px, 20px);
}

.beats-component .featured-beats .featured-beat .featured-beat-button{
    align-self: center;
    width: 100%;
}

.beats-component .featured-beats .featured-beat .featured-beat-button button{
    background:#FFD900;
    padding: 10px;
    width: 100%;
    outline: 0;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}
.beats-component .featured-beats .featured-beat .featured-beat-button button:hover{
    cursor: pointer;
    padding: 12px;
    transform: translateY(6px);
    transition: 0.3s ease;
}    
}


@media (max-width:1100px) and (min-width:501px) {
.beats-component{
    padding: 25px;
}

.beats-component .beats-component-header{
    text-align: center;
    margin: 12px 0;
}
.beats-component .beats-component-header h2{
    font-size: clamp(20px, 24px, 28px);
}
.beats-component .featured-beats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 25px 0;
    overflow-x: auto;
}

.beats-component .featured-beats .featured-beat{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.beats-component .featured-beats .featured-beat .featured-beat-thumbnail{
    width: 100%;
}
.beats-component .featured-beats .featured-beat .featured-beat-thumbnail img{
    width: 100%;
}
.beats-component .featured-beats .featured-beat .featured-beat-rating{
    display: flex;
    gap: 6px;
}
.beats-component .featured-beats .featured-beat .featured-beat-rating img{
    max-width: 20px;
    max-height: 20px;
}

.beats-component .featured-beats .featured-beat  .featured-beat-title{
    display: flex; 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.beats-component .featured-beats .featured-beat  .featured-beat-title h5{
    font-size: clamp(16px, 20px, 20px);
}

.beats-component .featured-beats .featured-beat  .featured-beat-price h5{
   color: #E9E9E9;
   font-size: clamp(14px, 16px, 20px);
}

.beats-component .featured-beats .featured-beat .featured-beat-button{
    align-self: center;
    width: 100%;
}

.beats-component .featured-beats .featured-beat .featured-beat-button button{
    background:#FFD900;
    padding: 10px;
    width: 100%;
    outline: 0;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}
.beats-component .featured-beats .featured-beat .featured-beat-button button:hover{
    cursor: pointer;
    padding: 12px;
    transform: translateY(6px);
    transition: 0.3s ease;
}    
}