.dashboard{
    padding: 50px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}
.dashboard .dashboard-top{
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-bottom: 2px solid rgba(16,13,26,0.4);
    padding: 10px 0;
    width: fit-content;
}
.dashboard .dashboard-top:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition: 0.3s ease;
}

.dashboard .dashboard-mid{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.dashboard .dashboard-mid .dashboard-mid-header{
    border-bottom: 2px solid rgba(16,13,26,0.4);
    padding: 10px 0;
    width: fit-content;
}

.dashboard .dashboard-mid .dashboard-mid-class{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 12px;
    overflow-x: auto;
    padding: 10px 0;
}
.dashboard .dashboard-mid .dashboard-mid-class::-webkit-scrollbar{
    height: 3px;
    width: 3px;
    background: #E9E9E9;
    
}
.dashboard .dashboard-mid .dashboard-mid-class::-webkit-scrollbar-thumb:horizontal{
    background: #100D1A;
    border-radius: 50px;
}

.dashboard .dashboard-mid .dashboard-mid-class .dashboard-mid-class-item{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    background: rgba(255,255,255,0.6);
    border: 1px solid rgba(192,192,192,0.3);
    box-shadow: 0 4px 8px rgba(192,192,192,0.8);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(8px);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.dashboard .dashboard-mid .dashboard-mid-class .dashboard-mid-class-item:hover{
    cursor: pointer;
    transform: translateY(5px);
    transition: 0.3s ease;
}
.dashboard .dashboard-mid .dashboard-mid-class .dashboard-mid-class-item .dashboard-mid-class-item-img img{
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 8px rgba(192,192,192,0.3);
}
.dashboard .dashboard-bottom{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.dashboard .dashboard-bottom .dashboard-bottom-header{
    border-bottom: 2px solid rgba(16,13,26,0.4);
    padding: 10px 0;
    width: fit-content;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders{
    display: grid;
    grid-template-rows:1fr;
    gap: 12px;
    width: 100%;
    background: rgba(255,255,255,0.6);
    border: 1px solid rgba(192,192,192,0.3);
    box-shadow: 0 8px 32px rgba(192,192,192,0.8);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(8px);
    padding: 10px;
    border-radius: 10px;
    overflow-x: auto;
    max-height: 1000px;
    overflow-y: auto;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .dashboard-bottom-orders-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border-bottom: 2px solid rgba(16,13,26,0.4);
    padding: 10px 0;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .dashboard-bottom-orders-header .dashboard-bottom-orders-header-id{
    box-sizing: border-box;
    width: 10%;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .dashboard-bottom-orders-header .dashboard-bottom-orders-header-name{
    box-sizing: border-box;
    width: 10%;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .dashboard-bottom-orders-header .dashboard-bottom-orders-header-phone{
    box-sizing: border-box;
    width: 10%;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .dashboard-bottom-orders-header .dashboard-bottom-orders-header-address{
    box-sizing: border-box;
    width: 10%;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .dashboard-bottom-orders-header .dashboard-bottom-orders-header-date{
    box-sizing: border-box;
    width: 10%;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .dashboard-bottom-orders-header .dashboard-bottom-orders-header-amount{
    box-sizing: border-box;
    width: 10%;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .dashboard-bottom-orders-header .dashboard-bottom-orders-header-status{
    box-sizing: border-box;
    width: 10%;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .dashboard-bottom-orders-header .dashboard-bottom-orders-header-method{
    box-sizing: border-box;
    width: 10%;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .dashboard-bottom-orders-header .dashboard-bottom-orders-header-paid{
    box-sizing: border-box;
    width: 10%;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .dashboard-bottom-orders-header .dashboard-bottom-orders-header-actions{
    box-sizing: border-box;
    width: 10%;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-id{
    width: 10%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-x: scroll;
    cursor: pointer;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-id::-webkit-scrollbar{
    height: 1px;
    width: 1px;
    background: #E9E9E9;
    
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-id::-webkit-scrollbar-thumb:horizontal{
    background: #100D1A;
    border-radius: 50px;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-name{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    width: 10%;
    box-sizing: border-box;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-phone{
    width: 10%;
    box-sizing: border-box;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-address{
    width: 10%;
    box-sizing: border-box;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-date{
    width: 10%;
    box-sizing: border-box;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-amount{
    width: 10%;
    box-sizing: border-box;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-status{
    width: 10%;
    box-sizing: border-box;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-method{
    width: 10%;
    box-sizing: border-box;
    max-width: fit-content;
    border-radius: 50px;
    padding: 5px;
    color: #E9E9E9;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-paid{
    width: 10%;
    box-sizing: border-box;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-actions{
    width: 10%;
    box-sizing: border-box;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-name .order-class-name-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-name .order-class-name-avatar img:hover{
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.3s ease;
    object-fit: cover;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 6px;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-actions img{
    width: 50px;
    height: 50px;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-actions img:hover{
    cursor: pointer;
    padding: 10px;
}

.dashboard .dashboard-bottom .dashboard-bottom-orders .order-box{
    display: flex;
    justify-content: center;
    padding: 50px;
}

/*---------------------------------------*/
@media (max-width:900px) and (min-width:50px) {
.dashboard{
    padding: 10px;
    padding-bottom: 50px;
}
.dashboard .dashboard-top{
    display: flex;
    gap: 12px;
}
.dashboard .dashboard-top h1{
    font-size: clamp(18px,20px, 24px);
}
.dashboard .dashboard-top p{
    font-size: clamp(16px,16px, 18px);
}
.dashboard .dashboard-mid{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.dashboard .dashboard-mid .dashboard-mid-header{
    width: fit-content;
}
.dashboard .dashboard-mid .dashboard-mid-header h2{
    font-size: clamp(18px,20px,24px);
}
.dashboard .dashboard-mid .dashboard-mid-class{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
.dashboard .dashboard-mid .dashboard-mid-class .dashboard-mid-class-item{
    display: flex;   
}
.dashboard .dashboard-mid .dashboard-mid-class .dashboard-mid-class-item .dashboard-mid-class-item-img img{
    width: 40px;
    height: 40px;
}
.dashboard .dashboard-bottom{
    display: flex;
    gap: 12px;
}
.dashboard .dashboard-bottom .dashboard-bottom-header{
    width: fit-content;
}
.dashboard .dashboard-bottom .dashboard-bottom-header h2{
    font-size: clamp(18px,20px,24px);
}
.dashboard .dashboard-bottom .dashboard-bottom-orders{
    display: grid;
    grid-template-rows:1fr;    
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .dashboard-bottom-orders-header{
    display: flex;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .dashboard-bottom-orders-header h3{
    font-size: clamp(18px,18px,20px);
    font-weight: bold;
}

.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class{
    display: flex;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-id{
    cursor: pointer;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-method{
    box-sizing: border-box;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-name .order-class-name-avatar img{
    width: 40px;
    height: 40px;
}

.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-actions{
    display: flex;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-class .order-class-actions img{
    width: 40px;
    height: 40px;
}
.dashboard .dashboard-bottom .dashboard-bottom-orders .order-box{
    display: flex;
    justify-content: center;
    padding: 40px;
}  
}


@media (max-width:900px) and (min-width:501px) {
.dashboard{
    padding: 25px;
}
}