.dashboard{
    width: 100%;
}
.dashboard .dashboard-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 10px;  
}

.dashboard .dashboard-container .dash-top{
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    color: #FFFFFF;
    font-weight: 700;
    text-align: right;
}

.dashboard .dashboard-container .dash-top .dash-top-left{
    background: linear-gradient(to top,#000080,#1F51FF);
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.dashboard .dashboard-container .dash-top .dash-top-center{
    background: linear-gradient(to top,#32CD32,#0FFF50);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.dashboard .dashboard-container .dash-top .dash-top-right{
    background: linear-gradient(to top ,#FF0000,#FF3131);
    width: 50%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.dashboard .dashboard-container .dash-top .dash-top-left:hover{
    cursor: pointer;
    transform:translateY(-4px);
    transition: 0.1s ease-in;
}
.dashboard .dashboard-container .dash-top .dash-top-center:hover{
    cursor: pointer;
    transform:translateY(-4px);
    transition: 0.1s ease-in;
}
.dashboard .dashboard-container .dash-top .dash-top-right:hover{
    cursor: pointer;
    transform:translateY(-4px);
    transition: 0.1s ease-in;
}

.dashboard .dashboard-container .dash-bottom{
    display: flex;
    justify-content:space-evenly;
    margin-top: 100px;
    width: 100%;
    gap: 0.5rem;
}

.dashboard .dashboard-container .dash-bottom .dash-bottom-left{
    background-color: #C0C0C0;
    width: 50%;
    border-radius: 10px;
}
.dashboard .dashboard-container .dash-bottom .dash-bottom-left .dash-bottom-left-header{
    background: linear-gradient(to right ,#FF0000,#FF3131);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 700;
}

.dashboard .dashboard-container .dash-bottom .dash-bottom-right{
    background-color: #C0C0C0;
    width: 50%;
    border-radius: 10px;
}
.dashboard .dashboard-container .dash-bottom .dash-bottom-right .dash-bottom-right-header{
    background: linear-gradient(to left,#32CD32,#0FFF50);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 700;
}
.dashboard .dashboard-container .dash-bottom .dash-bottom-right:hover{
    cursor: pointer;
    transform:translateY(-4px);
    transition: 0.1s ease-in;
}
.dashboard .dashboard-container .dash-bottom .dash-bottom-left:hover{
    cursor: pointer;
    transform:translateY(-4px);
    transition: 0.1s ease-in;
}
#dash-img{
    width: 40px;
}
#dash-img2{
    width: 30px;
    position: relative;
    top: 10px;
    animation: rota 3s infinite;
}

.dashboard .dashboard-container .nav-act{
    width: 100%;
    
}

.dashboard .dashboard-container .nav-act .nav-act-header {
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;
}

.dashboard .dashboard-container .nav-act .quick-acts{
    display: flex;
    overflow-x: auto;
    gap: 0.5rem;
    justify-content: space-evenly;
    margin-top: 10px;
}
.dashboard .dashboard-container .nav-act .quick-acts button{
    width: 100%;
    padding: 15px 100px;
    outline: 0;
    border: 0;
    background: #28282B;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 5px;
    margin-bottom: 100px;
}

.dashboard .dashboard-container .nav-act .quick-acts button:hover{
    cursor: pointer;
    transform:translateY(4px);
    transition: 0.1s ease-in;
    background: #26282B;
}

#pending-approval-user{
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
}

#pending-approval-user::before{
    content: '✔';
}

#pending-approval-user p:nth-child(1){
    width: 100%;
    text-align: left;
}

#pending-approval-user p:nth-child(2){
    align-items: center;
}


#pending-approval-user a{
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    font-style: italic;
}

#recent-orders{
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
}

#recent-orders a{
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    font-style: italic;
}

@keyframes rota {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

@media (max-width:768px) and (min-width:100px) {
.dashboard{
    width: 100%;
}
.dashboard .dashboard-container{
    margin-top: 50px;
    padding: 10px;  
}

.dashboard .dashboard-container .dash-top{
    display: flex;
    flex-direction: column;
}

.dashboard .dashboard-container .dash-top .dash-top-left{
    width: 100%;
    padding: 10px;
}
.dashboard .dashboard-container .dash-top .dash-top-center{
    width: 100%;
    padding: 10px;
}
.dashboard .dashboard-container .dash-top .dash-top-right{
    width: 100%;
    padding: 10px;
}

.dashboard .dashboard-container .dash-bottom{
    flex-direction: column;
    justify-content:space-evenly;
    margin-top: 100px;
    width: 100%;
    gap: 0.5rem;
}

.dashboard .dashboard-container .dash-bottom .dash-bottom-left{
    background-color: #C0C0C0;
    width: 100%;
    border-radius: 10px;
}
.dashboard .dashboard-container .dash-bottom .dash-bottom-left .dash-bottom-left-header{
    background: linear-gradient(to right ,#FF0000,#FF3131);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 700;
}

.dashboard .dashboard-container .dash-bottom .dash-bottom-right{
    background-color: #C0C0C0;
    width: 100%;
    border-radius: 10px;
}
.dashboard .dashboard-container .dash-bottom .dash-bottom-right .dash-bottom-right-header{
    background: linear-gradient(to left,#32CD32,#0FFF50);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 700;
}
#dash-img{
    width: 40px;
}
#dash-img2{
    width: 30px;
}
.dashboard .dashboard-container .nav-act{
    width: 100%;
    
}
.dashboard .dashboard-container .nav-act .nav-act-header {
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;
}

.dashboard .dashboard-container .nav-act .quick-acts{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    gap: 0.5rem;
    justify-content: space-evenly;
    margin-top: 10px;
}
.dashboard .dashboard-container .nav-act .quick-acts button{
    width: 100%;
    padding: 15px 100px;
    outline: 0;
    border: 0;
    background: #28282B;
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}

#pending-approval-user{
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
}

#recent-orders{
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
}

#recent-orders a{
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    font-style: italic;
}    
}