.single-blog-container{
    background-color: #282828;
    color: #FAF9F6 ;
    padding: 10px;
    padding-bottom: 100px;
    width: 100%;
}

.single-blog-container .single-blog{
    margin-top: 100px;
    color: #FAF9F6 ;
    padding: 20px;
}

.single-blog-container .single-blog .single-blog-header{
    display:flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 10px;
    color: #FAF9F6;
}

.single-blog-container .single-blog .single-blog-image img{
    width: 100%;
    border-radius: 10px;
}

.single-blog-container .related-blogs{
    display: flex;
    padding: 5px;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    /*
    for firefox
    scrollbar-width: thin; 
    scrollbar-color: gray lightgray;
    */
}



.single-blog-container .related-blogs::-webkit-scrollbar{
    height: 0px;
}
.single-blog-container .related-blogs::-webkit-scrollbar-track {
    background: lightgray;
}

.single-blog-container .related-blogs .related-blog{
    margin: 5px;
}

.single-blog-container .related-blogs .related-blog #related-blog-image{
    height: 50vh;
    border-radius: 5px;
}


.single-blog-container #verified{
    width: 12px;
}

.single-blog-container a{
    color: #FAF9F6 ;
    text-decoration: none;
}
.related-blog-description{
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
   text-overflow: ellipsis;
   width: 100%;  
}

@media (max-width:765px) and (min-width:100px) {
.single-blog-container{
    padding: 5px;
    padding-bottom: 20px;
}
.single-blog-container .single-blog{
    margin-top: 10px;
    padding: 5px;
}

.single-blog-container .single-blog .single-blog-header{
    display:flex;
    gap: 10px;
    margin-bottom: 5px;
    padding: 0 5px;
}
.single-blog-container .single-blog .single-blog-header p{
    font-size: 12px;
}
.single-blog-container .single-blog .single-blog-image img{
    width: 100%;
    border-radius: 10px;
}

.single-blog-container .related-blogs{
    display: grid;
    padding: 5px;
    overflow-x: hidden; 
    scroll-behavior: smooth; 
}


.single-blog-container .related-blogs .related-blog{
    margin: 5px;
}

.single-blog-container .related-blogs .related-blog #related-blog-image{
    height: 100%;
    width: 100%;
}

.single-blog-container #verified{
    width: 12px;
    position: relative;
    top: 4px;
}

}

/*
black
  #000000 - 1
  #28282B - 2

grey
  #C0C0C0
  #C9C9C9

white
#FFFFFF - cream
#FAF9F6  *

green
#32CD32 *

blue
#1F51FF

yellow
#FFEA00
#FFD700 *

red
#FF0000
*/